# Import and Export Files

# Challenge 0 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [61]:
import mysql.connector    #whenever we want to make a connector
from getpass import getpass
import pandas as pd

In [62]:
cnx = mysql.connector.connect(user = "root",
                             password = getpass(),
                             host = "localhost",
                             database = "sakila")

········

In [63]:
cnx.is_connected()

True

In [64]:
cursor = cnx.cursor()

In [68]:
query = ("""SELECT * FROM sakila.rental;""")

cursor.execute(query)

results = cursor.fetchall()

results

[(1,
  datetime.datetime(2005, 5, 24, 22, 53, 30),
  367,
  130,
  datetime.datetime(2005, 5, 26, 22, 4, 30),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (2,
  datetime.datetime(2005, 5, 24, 22, 54, 33),
  1525,
  459,
  datetime.datetime(2005, 5, 28, 19, 40, 33),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (3,
  datetime.datetime(2005, 5, 24, 23, 3, 39),
  1711,
  408,
  datetime.datetime(2005, 6, 1, 22, 12, 39),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (4,
  datetime.datetime(2005, 5, 24, 23, 4, 41),
  2452,
  333,
  datetime.datetime(2005, 6, 3, 1, 43, 41),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (5,
  datetime.datetime(2005, 5, 24, 23, 5, 21),
  2079,
  222,
  datetime.datetime(2005, 6, 2, 4, 33, 21),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (6,
  datetime.datetime(2005, 5, 24, 23, 8, 7),
  2792,
  549,
  datetime.datetime(2005, 5, 27, 1, 32, 7),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (7,
  datetime.datetime(2005, 5, 24, 23, 11, 53),
  3995,
  269,
  datetime.datetime(2005, 5, 29, 20, 34, 53),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (8,
  datetime.datetime(2005, 5, 24, 23, 31, 46),
  2346,
  239,
  datetime.datetime(2005, 5, 27, 23, 33, 46),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (9,
  datetime.datetime(2005, 5, 25, 0, 0, 40),
  2580,
  126,
  datetime.datetime(2005, 5, 28, 0, 22, 40),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (10,
  datetime.datetime(2005, 5, 25, 0, 2, 21),
  1824,
  399,
  datetime.datetime(2005, 5, 31, 22, 44, 21),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (11,
  datetime.datetime(2005, 5, 25, 0, 9, 2),
  4443,
  142,
  datetime.datetime(2005, 6, 2, 20, 56, 2),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (12,
  datetime.datetime(2005, 5, 25, 0, 19, 27),
  1584,
  261,
  datetime.datetime(2005, 5, 30, 5, 44, 27),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (13,
  datetime.datetime(2005, 5, 25, 0, 22, 55),
  2294,
  334,
  datetime.datetime(2005, 5, 30, 4, 28, 55),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (14,
  datetime.datetime(2005, 5, 25, 0, 31, 15),
  2701,
  446,
  datetime.datetime(2005, 5, 26, 2, 56, 15),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (15,
  datetime.datetime(2005, 5, 25, 0, 39, 22),
  3049,
  319,
  datetime.datetime(2005, 6, 3, 3, 30, 22),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (16,
  datetime.datetime(2005, 5, 25, 0, 43, 11),
  389,
  316,
  datetime.datetime(2005, 5, 26, 4, 42, 11),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (17,
  datetime.datetime(2005, 5, 25, 1, 6, 36),
  830,
  575,
  datetime.datetime(2005, 5, 27, 0, 43, 36),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (18,
  datetime.datetime(2005, 5, 25, 1, 10, 47),
  3376,
  19,
  datetime.datetime(2005, 5, 31, 6, 35, 47),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (19,
  datetime.datetime(2005, 5, 25, 1, 17, 24),
  1941,
  456,
  datetime.datetime(2005, 5, 31, 6, 0, 24),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (20,
  datetime.datetime(2005, 5, 25, 1, 48, 41),
  3517,
  185,
  datetime.datetime(2005, 5, 27, 2, 20, 41),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (21,
  datetime.datetime(2005, 5, 25, 1, 59, 46),
  146,
  388,
  datetime.datetime(2005, 5, 26, 1, 1, 46),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (22,
  datetime.datetime(2005, 5, 25, 2, 19, 23),
  727,
  509,
  datetime.datetime(2005, 5, 26, 4, 52, 23),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (23,
  datetime.datetime(2005, 5, 25, 2, 40, 21),
  4441,
  438,
  datetime.datetime(2005, 5, 29, 6, 34, 21),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (24,
  datetime.datetime(2005, 5, 25, 2, 53, 2),
  3273,
  350,
  datetime.datetime(2005, 5, 27, 1, 15, 2),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (25,
  datetime.datetime(2005, 5, 25, 3, 21, 20),
  3961,
  37,
  datetime.datetime(2005, 5, 27, 21, 25, 20),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (26,
  datetime.datetime(2005, 5, 25, 3, 36, 50),
  4371,
  371,
  datetime.datetime(2005, 5, 31, 0, 34, 50),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (27,
  datetime.datetime(2005, 5, 25, 3, 41, 50),
  1225,
  301,
  datetime.datetime(2005, 5, 30, 1, 13, 50),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (28,
  datetime.datetime(2005, 5, 25, 3, 42, 37),
  4068,
  232,
  datetime.datetime(2005, 5, 26, 9, 26, 37),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (29,
  datetime.datetime(2005, 5, 25, 3, 47, 12),
  611,
  44,
  datetime.datetime(2005, 5, 30, 0, 31, 12),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (30,
  datetime.datetime(2005, 5, 25, 4, 1, 32),
  3744,
  430,
  datetime.datetime(2005, 5, 30, 3, 12, 32),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (31,
  datetime.datetime(2005, 5, 25, 4, 5, 17),
  4482,
  369,
  datetime.datetime(2005, 5, 30, 7, 15, 17),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (32,
  datetime.datetime(2005, 5, 25, 4, 6, 21),
  3832,
  230,
  datetime.datetime(2005, 5, 25, 23, 55, 21),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (33,
  datetime.datetime(2005, 5, 25, 4, 18, 51),
  1681,
  272,
  datetime.datetime(2005, 5, 27, 3, 58, 51),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (34,
  datetime.datetime(2005, 5, 25, 4, 19, 28),
  2613,
  597,
  datetime.datetime(2005, 5, 29, 0, 10, 28),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (35,
  datetime.datetime(2005, 5, 25, 4, 24, 36),
  1286,
  484,
  datetime.datetime(2005, 5, 27, 7, 2, 36),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (36,
  datetime.datetime(2005, 5, 25, 4, 36, 26),
  1308,
  88,
  datetime.datetime(2005, 5, 29, 0, 31, 26),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (37,
  datetime.datetime(2005, 5, 25, 4, 44, 31),
  403,
  535,
  datetime.datetime(2005, 5, 29, 1, 3, 31),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (38,
  datetime.datetime(2005, 5, 25, 4, 47, 44),
  2540,
  302,
  datetime.datetime(2005, 6, 1, 0, 58, 44),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (39,
  datetime.datetime(2005, 5, 25, 4, 51, 46),
  4466,
  207,
  datetime.datetime(2005, 5, 31, 3, 14, 46),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (40,
  datetime.datetime(2005, 5, 25, 5, 9, 4),
  2638,
  413,
  datetime.datetime(2005, 5, 27, 23, 12, 4),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (41,
  datetime.datetime(2005, 5, 25, 5, 12, 29),
  1761,
  174,
  datetime.datetime(2005, 6, 2, 0, 28, 29),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (42,
  datetime.datetime(2005, 5, 25, 5, 24, 58),
  380,
  523,
  datetime.datetime(2005, 5, 31, 2, 47, 58),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (43,
  datetime.datetime(2005, 5, 25, 5, 39, 25),
  2578,
  532,
  datetime.datetime(2005, 5, 26, 6, 54, 25),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (44,
  datetime.datetime(2005, 5, 25, 5, 53, 23),
  3098,
  207,
  datetime.datetime(2005, 5, 29, 10, 56, 23),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (45,
  datetime.datetime(2005, 5, 25, 5, 59, 39),
  1853,
  436,
  datetime.datetime(2005, 6, 2, 9, 56, 39),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (46,
  datetime.datetime(2005, 5, 25, 6, 4, 8),
  3318,
  7,
  datetime.datetime(2005, 6, 2, 8, 18, 8),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (47,
  datetime.datetime(2005, 5, 25, 6, 5, 20),
  2211,
  35,
  datetime.datetime(2005, 5, 30, 3, 4, 20),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (48,
  datetime.datetime(2005, 5, 25, 6, 20, 46),
  1780,
  282,
  datetime.datetime(2005, 6, 2, 5, 42, 46),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (49,
  datetime.datetime(2005, 5, 25, 6, 39, 35),
  2965,
  498,
  datetime.datetime(2005, 5, 30, 10, 12, 35),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (50,
  datetime.datetime(2005, 5, 25, 6, 44, 53),
  1983,
  18,
  datetime.datetime(2005, 5, 28, 11, 28, 53),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (51,
  datetime.datetime(2005, 5, 25, 6, 49, 10),
  1257,
  256,
  datetime.datetime(2005, 5, 26, 6, 42, 10),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (52,
  datetime.datetime(2005, 5, 25, 6, 51, 29),
  4017,
  507,
  datetime.datetime(2005, 5, 31, 1, 27, 29),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (53,
  datetime.datetime(2005, 5, 25, 7, 19, 16),
  1255,
  569,
  datetime.datetime(2005, 5, 27, 5, 19, 16),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (54,
  datetime.datetime(2005, 5, 25, 7, 23, 25),
  2787,
  291,
  datetime.datetime(2005, 6, 1, 5, 5, 25),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (55,
  datetime.datetime(2005, 5, 25, 8, 26, 13),
  1139,
  131,
  datetime.datetime(2005, 5, 30, 10, 57, 13),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (56,
  datetime.datetime(2005, 5, 25, 8, 28, 11),
  1352,
  511,
  datetime.datetime(2005, 5, 26, 14, 21, 11),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (57,
  datetime.datetime(2005, 5, 25, 8, 43, 32),
  3938,
  6,
  datetime.datetime(2005, 5, 29, 6, 42, 32),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (58,
  datetime.datetime(2005, 5, 25, 8, 53, 14),
  3050,
  323,
  datetime.datetime(2005, 5, 28, 14, 40, 14),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (59,
  datetime.datetime(2005, 5, 25, 8, 56, 42),
  2884,
  408,
  datetime.datetime(2005, 6, 1, 9, 52, 42),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (60,
  datetime.datetime(2005, 5, 25, 8, 58, 25),
  330,
  470,
  datetime.datetime(2005, 5, 30, 14, 14, 25),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (61,
  datetime.datetime(2005, 5, 25, 9, 1, 57),
  4210,
  250,
  datetime.datetime(2005, 6, 2, 7, 22, 57),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (62,
  datetime.datetime(2005, 5, 25, 9, 18, 52),
  261,
  419,
  datetime.datetime(2005, 5, 30, 10, 55, 52),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (63,
  datetime.datetime(2005, 5, 25, 9, 19, 16),
  4008,
  383,
  datetime.datetime(2005, 5, 27, 4, 24, 16),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (64,
  datetime.datetime(2005, 5, 25, 9, 21, 29),
  79,
  368,
  datetime.datetime(2005, 6, 3, 11, 31, 29),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (65,
  datetime.datetime(2005, 5, 25, 9, 32, 3),
  3552,
  346,
  datetime.datetime(2005, 5, 29, 14, 21, 3),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (66,
  datetime.datetime(2005, 5, 25, 9, 35, 12),
  1162,
  86,
  datetime.datetime(2005, 5, 29, 4, 16, 12),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (67,
  datetime.datetime(2005, 5, 25, 9, 41, 1),
  239,
  119,
  datetime.datetime(2005, 5, 27, 13, 46, 1),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (68,
  datetime.datetime(2005, 5, 25, 9, 47, 31),
  4029,
  120,
  datetime.datetime(2005, 5, 31, 10, 20, 31),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (69,
  datetime.datetime(2005, 5, 25, 10, 10, 14),
  3207,
  305,
  datetime.datetime(2005, 5, 27, 14, 2, 14),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (70,
  datetime.datetime(2005, 5, 25, 10, 15, 23),
  2168,
  73,
  datetime.datetime(2005, 5, 27, 5, 56, 23),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (71,
  datetime.datetime(2005, 5, 25, 10, 26, 39),
  2408,
  100,
  datetime.datetime(2005, 5, 28, 4, 59, 39),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (72,
  datetime.datetime(2005, 5, 25, 10, 52, 13),
  2260,
  48,
  datetime.datetime(2005, 5, 28, 5, 52, 13),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (73,
  datetime.datetime(2005, 5, 25, 11, 0, 7),
  517,
  391,
  datetime.datetime(2005, 6, 1, 13, 56, 7),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (74,
  datetime.datetime(2005, 5, 25, 11, 9, 48),
  1744,
  265,
  datetime.datetime(2005, 5, 26, 12, 23, 48),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (75,
  datetime.datetime(2005, 5, 25, 11, 13, 34),
  3393,
  510,
  datetime.datetime(2005, 6, 3, 12, 58, 34),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (76,
  datetime.datetime(2005, 5, 25, 11, 30, 37),
  3021,
  1,
  datetime.datetime(2005, 6, 3, 12, 0, 37),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (77,
  datetime.datetime(2005, 5, 25, 11, 31, 59),
  1303,
  451,
  datetime.datetime(2005, 5, 26, 16, 53, 59),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (78,
  datetime.datetime(2005, 5, 25, 11, 35, 18),
  4067,
  135,
  datetime.datetime(2005, 5, 31, 12, 48, 18),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (79,
  datetime.datetime(2005, 5, 25, 12, 11, 7),
  3299,
  245,
  datetime.datetime(2005, 6, 3, 10, 54, 7),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (80,
  datetime.datetime(2005, 5, 25, 12, 12, 7),
  2478,
  314,
  datetime.datetime(2005, 5, 31, 17, 46, 7),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (81,
  datetime.datetime(2005, 5, 25, 12, 15, 19),
  2610,
  286,
  datetime.datetime(2005, 6, 2, 14, 8, 19),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (82,
  datetime.datetime(2005, 5, 25, 12, 17, 46),
  1388,
  427,
  datetime.datetime(2005, 6, 1, 10, 48, 46),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (83,
  datetime.datetime(2005, 5, 25, 12, 30, 15),
  466,
  131,
  datetime.datetime(2005, 5, 27, 15, 40, 15),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (84,
  datetime.datetime(2005, 5, 25, 12, 36, 30),
  1829,
  492,
  datetime.datetime(2005, 5, 29, 18, 33, 30),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (85,
  datetime.datetime(2005, 5, 25, 13, 5, 34),
  470,
  414,
  datetime.datetime(2005, 5, 29, 16, 53, 34),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (86,
  datetime.datetime(2005, 5, 25, 13, 36, 12),
  2275,
  266,
  datetime.datetime(2005, 5, 30, 14, 53, 12),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (87,
  datetime.datetime(2005, 5, 25, 13, 52, 43),
  1586,
  331,
  datetime.datetime(2005, 5, 29, 11, 12, 43),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (88,
  datetime.datetime(2005, 5, 25, 14, 13, 54),
  2221,
  53,
  datetime.datetime(2005, 5, 29, 9, 32, 54),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (89,
  datetime.datetime(2005, 5, 25, 14, 28, 29),
  2181,
  499,
  datetime.datetime(2005, 5, 29, 14, 33, 29),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (90,
  datetime.datetime(2005, 5, 25, 14, 31, 25),
  2984,
  25,
  datetime.datetime(2005, 6, 1, 10, 7, 25),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (91,
  datetime.datetime(2005, 5, 25, 14, 57, 22),
  139,
  267,
  datetime.datetime(2005, 6, 1, 18, 32, 22),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (92,
  datetime.datetime(2005, 5, 25, 15, 38, 46),
  775,
  302,
  datetime.datetime(2005, 5, 31, 13, 40, 46),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (93,
  datetime.datetime(2005, 5, 25, 15, 54, 16),
  4360,
  288,
  datetime.datetime(2005, 6, 3, 20, 18, 16),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (94,
  datetime.datetime(2005, 5, 25, 16, 3, 42),
  1675,
  197,
  datetime.datetime(2005, 5, 30, 14, 23, 42),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (95,
  datetime.datetime(2005, 5, 25, 16, 12, 52),
  178,
  400,
  datetime.datetime(2005, 6, 2, 18, 55, 52),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (96,
  datetime.datetime(2005, 5, 25, 16, 32, 19),
  3418,
  49,
  datetime.datetime(2005, 5, 30, 10, 47, 19),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (97,
  datetime.datetime(2005, 5, 25, 16, 34, 24),
  1283,
  263,
  datetime.datetime(2005, 5, 28, 12, 13, 24),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (98,
  datetime.datetime(2005, 5, 25, 16, 48, 24),
  2970,
  269,
  datetime.datetime(2005, 5, 27, 11, 29, 24),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (99,
  datetime.datetime(2005, 5, 25, 16, 50, 20),
  535,
  44,
  datetime.datetime(2005, 5, 28, 18, 52, 20),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (100,
  datetime.datetime(2005, 5, 25, 16, 50, 28),
  2599,
  208,
  datetime.datetime(2005, 6, 2, 22, 11, 28),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (101,
  datetime.datetime(2005, 5, 25, 17, 17, 4),
  617,
  468,
  datetime.datetime(2005, 5, 31, 19, 47, 4),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (102,
  datetime.datetime(2005, 5, 25, 17, 22, 10),
  373,
  343,
  datetime.datetime(2005, 5, 31, 19, 47, 10),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (103,
  datetime.datetime(2005, 5, 25, 17, 30, 42),
  3343,
  384,
  datetime.datetime(2005, 6, 3, 22, 36, 42),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (104,
  datetime.datetime(2005, 5, 25, 17, 46, 33),
  4281,
  310,
  datetime.datetime(2005, 5, 27, 15, 20, 33),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (105,
  datetime.datetime(2005, 5, 25, 17, 54, 12),
  794,
  108,
  datetime.datetime(2005, 5, 30, 12, 3, 12),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (106,
  datetime.datetime(2005, 5, 25, 18, 18, 19),
  3627,
  196,
  datetime.datetime(2005, 6, 4, 0, 1, 19),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (107,
  datetime.datetime(2005, 5, 25, 18, 28, 9),
  2833,
  317,
  datetime.datetime(2005, 6, 3, 22, 46, 9),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (108,
  datetime.datetime(2005, 5, 25, 18, 30, 5),
  3289,
  242,
  datetime.datetime(2005, 5, 30, 19, 40, 5),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (109,
  datetime.datetime(2005, 5, 25, 18, 40, 20),
  1044,
  503,
  datetime.datetime(2005, 5, 29, 20, 39, 20),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (110,
  datetime.datetime(2005, 5, 25, 18, 43, 49),
  4108,
  19,
  datetime.datetime(2005, 6, 3, 18, 13, 49),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (111,
  datetime.datetime(2005, 5, 25, 18, 45, 19),
  3725,
  227,
  datetime.datetime(2005, 5, 28, 17, 18, 19),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (112,
  datetime.datetime(2005, 5, 25, 18, 57, 24),
  2153,
  500,
  datetime.datetime(2005, 6, 2, 20, 44, 24),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (113,
  datetime.datetime(2005, 5, 25, 19, 7, 40),
  2963,
  93,
  datetime.datetime(2005, 5, 27, 22, 16, 40),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (114,
  datetime.datetime(2005, 5, 25, 19, 12, 42),
  4502,
  506,
  datetime.datetime(2005, 6, 1, 23, 10, 42),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (115,
  datetime.datetime(2005, 5, 25, 19, 13, 25),
  749,
  455,
  datetime.datetime(2005, 5, 29, 20, 17, 25),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (116,
  datetime.datetime(2005, 5, 25, 19, 27, 51),
  4453,
  18,
  datetime.datetime(2005, 5, 26, 16, 23, 51),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (117,
  datetime.datetime(2005, 5, 25, 19, 30, 46),
  4278,
  7,
  datetime.datetime(2005, 5, 31, 23, 59, 46),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (118,
  datetime.datetime(2005, 5, 25, 19, 31, 18),
  872,
  524,
  datetime.datetime(2005, 5, 31, 15, 0, 18),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (119,
  datetime.datetime(2005, 5, 25, 19, 37, 2),
  1359,
  51,
  datetime.datetime(2005, 5, 29, 23, 51, 2),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (120,
  datetime.datetime(2005, 5, 25, 19, 37, 47),
  37,
  365,
  datetime.datetime(2005, 6, 1, 23, 29, 47),
  2,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (121,
  datetime.datetime(2005, 5, 25, 19, 41, 29),
  1053,
  405,
  datetime.datetime(2005, 5, 29, 21, 31, 29),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (122,
  datetime.datetime(2005, 5, 25, 19, 46, 21),
  2908,
  273,
  datetime.datetime(2005, 6, 2, 19, 7, 21),
  1,
  datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (123,
  datetime.datetime(2005, 5, 25, 20, 26, 42),
  1795,
  43,
  datetime.datetime(2005, 5, 26, 19, 41, 42),

In [77]:
query = ("""SELECT rental.rental_id,rental.rental_date,rental.return_date,customer.first_name,customer.last_name,film.title
           FROM rental
           INNER JOIN customer ON rental.customer_id = customer.customer_id
           INNER JOIN inventory ON rental.inventory_id = inventory.inventory_id
           INNER JOIN film ON inventory.film_id = film.film_id;""")

cursor.execute(query)

results = cursor.fetchall()

results

[(4863,
  datetime.datetime(2005, 7, 8, 19, 3, 15),
  datetime.datetime(2005, 7, 11, 21, 29, 15),
  'JOEL',
  'FRANCISCO',
  'ACADEMY DINOSAUR'),
 (11433,
  datetime.datetime(2005, 8, 2, 20, 13, 10),
  datetime.datetime(2005, 8, 11, 21, 35, 10),
  'GABRIEL',
  'HARDER',
  'ACADEMY DINOSAUR'),
 (14714,
  datetime.datetime(2005, 8, 21, 21, 27, 43),
  datetime.datetime(2005, 8, 30, 22, 26, 43),
  'DIANNE',
  'SHELTON',
  'ACADEMY DINOSAUR'),
 (972,
  datetime.datetime(2005, 5, 30, 20, 21, 7),
  datetime.datetime(2005, 6, 6, 0, 36, 7),
  'NORMAN',
  'CURRIER',
  'ACADEMY DINOSAUR'),
 (2117,
  datetime.datetime(2005, 6, 17, 20, 24),
  datetime.datetime(2005, 6, 23, 17, 45),
  'BEATRICE',
  'ARNOLD',
  'ACADEMY DINOSAUR'),
 (4187,
  datetime.datetime(2005, 7, 7, 10, 41, 31),
  datetime.datetime(2005, 7, 11, 6, 25, 31),
  'GERALDINE',
  'PERKINS',
  'ACADEMY DINOSAUR'),
 (9449,
  datetime.datetime(2005, 7, 30, 22, 2, 34),
  datetime.datetime(2005, 8, 6, 2, 9, 34),
  'VIRGIL',
  'WOFFORD',
  'ACADEMY DINOSAUR'),
 (15453,
  datetime.datetime(2005, 8, 23, 1, 1, 1),
  datetime.datetime(2005, 8, 30, 20, 8, 1),
  'WILLIE',
  'MARKHAM',
  'ACADEMY DINOSAUR'),
 (10126,
  datetime.datetime(2005, 7, 31, 21, 36, 7),
  datetime.datetime(2005, 8, 3, 23, 59, 7),
  'DEBRA',
  'NELSON',
  'ACADEMY DINOSAUR'),
 (15421,
  datetime.datetime(2005, 8, 22, 23, 56, 37),
  datetime.datetime(2005, 8, 25, 18, 58, 37),
  'DARREN',
  'WINDHAM',
  'ACADEMY DINOSAUR'),
 (10883,
  datetime.datetime(2005, 8, 2, 0, 47, 19),
  datetime.datetime(2005, 8, 3, 0, 2, 19),
  'ROBERT',
  'BAUGHMAN',
  'ACADEMY DINOSAUR'),
 (14624,
  datetime.datetime(2005, 8, 21, 18, 32, 42),
  datetime.datetime(2005, 8, 23, 21, 9, 42),
  'HENRY',
  'BILLINGSLEY',
  'ACADEMY DINOSAUR'),
 (361,
  datetime.datetime(2005, 5, 27, 7, 3, 28),
  datetime.datetime(2005, 5, 31, 8, 1, 28),
  'SERGIO',
  'STANFIELD',
  'ACADEMY DINOSAUR'),
 (3201,
  datetime.datetime(2005, 6, 21, 0, 30, 26),
  datetime.datetime(2005, 6, 28, 3, 42, 26),
  'FREDDIE',
  'DUGGAN',
  'ACADEMY DINOSAUR'),
 (4390,
  datetime.datetime(2005, 7, 7, 20, 59, 6),
  datetime.datetime(2005, 7, 9, 0, 4, 6),
  'MARIE',
  'TURNER',
  'ACADEMY DINOSAUR'),
 (7168,
  datetime.datetime(2005, 7, 27, 7, 51, 11),
  datetime.datetime(2005, 8, 1, 4, 8, 11),
  'MATTIE',
  'HOFFMAN',
  'ACADEMY DINOSAUR'),
 (14098,
  datetime.datetime(2005, 8, 21, 0, 30, 32),
  None,
  'DWAYNE',
  'OLVERA',
  'ACADEMY DINOSAUR'),
 (1210,
  datetime.datetime(2005, 6, 15, 2, 57, 51),
  datetime.datetime(2005, 6, 20, 1, 41, 51),
  'CARL',
  'ARTIS',
  'ACADEMY DINOSAUR'),
 (5766,
  datetime.datetime(2005, 7, 10, 13, 7, 31),
  datetime.datetime(2005, 7, 16, 13, 3, 31),
  'NATHAN',
  'RUNYON',
  'ACADEMY DINOSAUR'),
 (8510,
  datetime.datetime(2005, 7, 29, 9, 41, 38),
  datetime.datetime(2005, 8, 5, 5, 30, 38),
  'HECTOR',
  'POINDEXTER',
  'ACADEMY DINOSAUR'),
 (14798,
  datetime.datetime(2005, 8, 22, 0, 44, 8),
  datetime.datetime(2005, 8, 27, 2, 18, 8),
  'TINA',
  'SIMMONS',
  'ACADEMY DINOSAUR'),
 (10141,
  datetime.datetime(2005, 7, 31, 22, 8, 29),
  datetime.datetime(2005, 8, 6, 16, 59, 29),
  'SUSAN',
  'WILSON',
  'ACADEMY DINOSAUR'),
 (12651,
  datetime.datetime(2005, 8, 18, 18, 36, 16),
  datetime.datetime(2005, 8, 22, 22, 1, 16),
  'REBECCA',
  'SCOTT',
  'ACADEMY DINOSAUR'),
 (10310,
  datetime.datetime(2005, 8, 1, 4, 24, 47),
  datetime.datetime(2005, 8, 4, 5, 36, 47),
  'PENNY',
  'NEAL',
  'ACE GOLDFINGER'),
 (13421,
  datetime.datetime(2006, 2, 14, 15, 16, 3),
  None,
  'BRANDON',
  'HUEY',
  'ACE GOLDFINGER'),
 (4364,
  datetime.datetime(2005, 7, 7, 19, 46, 51),
  datetime.datetime(2005, 7, 8, 21, 55, 51),
  'LUCILLE',
  'HOLMES',
  'ACE GOLDFINGER'),
 (7733,
  datetime.datetime(2005, 7, 28, 5, 4, 47),
  datetime.datetime(2005, 8, 5, 5, 12, 47),
  'KATHRYN',
  'COLEMAN',
  'ACE GOLDFINGER'),
 (15218,
  datetime.datetime(2005, 8, 22, 16, 59, 5),
  datetime.datetime(2005, 8, 30, 17, 1, 5),
  'AMBER',
  'DIXON',
  'ACE GOLDFINGER'),
 (10992,
  datetime.datetime(2005, 8, 2, 4, 41, 17),
  datetime.datetime(2005, 8, 9, 2, 13, 17),
  'STACY',
  'CUNNINGHAM',
  'ACE GOLDFINGER'),
 (11758,
  datetime.datetime(2005, 8, 17, 9, 33, 2),
  datetime.datetime(2005, 8, 24, 5, 3, 2),
  'JESSIE',
  'MILAM',
  'ACE GOLDFINGER'),
 (6999,
  datetime.datetime(2005, 7, 27, 1, 21, 19),
  datetime.datetime(2005, 7, 29, 20, 33, 19),
  'PEARL',
  'GARZA',
  'ADAPTATION HOLES'),
 (14882,
  datetime.datetime(2005, 8, 22, 3, 52, 21),
  datetime.datetime(2005, 8, 25, 4, 50, 21),
  'TRAVIS',
  'ESTEP',
  'ADAPTATION HOLES'),
 (11306,
  datetime.datetime(2005, 8, 2, 15, 45, 10),
  datetime.datetime(2005, 8, 3, 21, 14, 10),
  'STELLA',
  'MORENO',
  'ADAPTATION HOLES'),
 (15788,
  datetime.datetime(2005, 8, 23, 13, 54, 39),
  datetime.datetime(2005, 8, 26, 10, 17, 39),
  'CASSANDRA',
  'WALTERS',
  'ADAPTATION HOLES'),
 (1033,
  datetime.datetime(2005, 5, 31, 4, 50, 7),
  datetime.datetime(2005, 6, 2, 1, 53, 7),
  'DEBORAH',
  'WALKER',
  'ADAPTATION HOLES'),
 (1427,
  datetime.datetime(2005, 6, 15, 18, 17, 28),
  datetime.datetime(2005, 6, 16, 15, 47, 28),
  'ROBIN',
  'HAYES',
  'ADAPTATION HOLES'),
 (3897,
  datetime.datetime(2005, 7, 6, 19, 11, 43),
  datetime.datetime(2005, 7, 11, 21, 50, 43),
  'OLGA',
  'JIMENEZ',
  'ADAPTATION HOLES'),
 (10437,
  datetime.datetime(2005, 8, 1, 8, 51, 4),
  datetime.datetime(2005, 8, 10, 12, 12, 4),
  'MARY',
  'SMITH',
  'ADAPTATION HOLES'),
 (11845,
  datetime.datetime(2005, 8, 17, 13, 16, 38),
  datetime.datetime(2005, 8, 18, 11, 21, 38),
  'ROSE',
  'HOWARD',
  'ADAPTATION HOLES'),
 (3956,
  datetime.datetime(2005, 7, 6, 22, 1, 51),
  datetime.datetime(2005, 7, 12, 21, 35, 51),
  'JOANNE',
  'ROBERTSON',
  'ADAPTATION HOLES'),
 (7586,
  datetime.datetime(2005, 7, 27, 23, 19, 29),
  datetime.datetime(2005, 7, 29, 23, 4, 29),
  'STEVEN',
  'CURLEY',
  'ADAPTATION HOLES'),
 (12727,
  datetime.datetime(2005, 8, 18, 21, 45, 15),
  datetime.datetime(2005, 8, 24, 15, 52, 15),
  'MARION',
  'SNYDER',
  'ADAPTATION HOLES'),
 (6493,
  datetime.datetime(2005, 7, 12, 2, 40, 41),
  datetime.datetime(2005, 7, 16, 4, 56, 41),
  'VIVIAN',
  'RUIZ',
  'AFFAIR PREJUDICE'),
 (8931,
  datetime.datetime(2005, 7, 30, 2, 30, 7),
  datetime.datetime(2005, 8, 2, 8, 24, 7),
  'NINA',
  'SOTO',
  'AFFAIR PREJUDICE'),
 (15352,
  datetime.datetime(2005, 8, 22, 21, 16, 54),
  datetime.datetime(2005, 8, 31, 0, 38, 54),
  'JORDAN',
  'ARCHULETA',
  'AFFAIR PREJUDICE'),
 (995,
  datetime.datetime(2005, 5, 31, 0, 6, 2),
  datetime.datetime(2005, 6, 6, 2, 30, 2),
  'DANIELLE',
  'DANIELS',
  'AFFAIR PREJUDICE'),
 (2090,
  datetime.datetime(2005, 6, 17, 18, 6, 14),
  datetime.datetime(2005, 6, 22, 23, 52, 14),
  'SUE',
  'PETERS',
  'AFFAIR PREJUDICE'),
 (5682,
  datetime.datetime(2005, 7, 10, 8, 51, 39),
  datetime.datetime(2005, 7, 12, 14, 44, 39),
  'MICHAEL',
  'SILVERMAN',
  'AFFAIR PREJUDICE'),
 (6970,
  datetime.datetime(2005, 7, 27, 0, 26, 14),
  datetime.datetime(2005, 8, 3, 20, 0, 14),
  'JEFF',
  'EAST',
  'AFFAIR PREJUDICE'),
 (11714,
  datetime.datetime(2005, 8, 17, 7, 34, 55),
  datetime.datetime(2005, 8, 18, 4, 7, 55),
  'MEGAN',
  'PALMER',
  'AFFAIR PREJUDICE'),
 (8331,
  datetime.datetime(2005, 7, 29, 4, 13, 29),
  datetime.datetime(2005, 8, 4, 7, 9, 29),
  'ELEANOR',
  'HUNT',
  'AFFAIR PREJUDICE'),
 (15199,
  datetime.datetime(2005, 8, 22, 16, 17, 49),
  datetime.datetime(2005, 8, 25, 20, 12, 49),
  'NATALIE',
  'MEYER',
  'AFFAIR PREJUDICE'),
 (3506,
  datetime.datetime(2005, 7, 6, 0, 22, 29),
  datetime.datetime(2005, 7, 7, 22, 15, 29),
  'TOMMY',
  'COLLAZO',
  'AFFAIR PREJUDICE'),
 (9863,
  datetime.datetime(2005, 7, 31, 13, 5, 29),
  datetime.datetime(2005, 8, 8, 12, 33, 29),
  'MINNIE',
  'ROMERO',
  'AFFAIR PREJUDICE'),
 (15174,
  datetime.datetime(2005, 8, 22, 15, 26, 36),
  datetime.datetime(2005, 8, 31, 10, 47, 36),
  'CARMEN',
  'OWENS',
  'AFFAIR PREJUDICE'),
 (465,
  datetime.datetime(2005, 5, 27, 20, 44, 36),
  datetime.datetime(2005, 6, 2, 2, 43, 36),
  'DEANNA',
  'BYRD',
  'AFFAIR PREJUDICE'),
 (1716,
  datetime.datetime(2005, 6, 16, 14, 39, 31),
  datetime.datetime(2005, 6, 19, 15, 37, 31),
  'KIMBERLY',
  'LEE',
  'AFFAIR PREJUDICE'),
 (4789,
  datetime.datetime(2005, 7, 8, 16, 22, 1),
  datetime.datetime(2005, 7, 15, 18, 29, 1),
  'BEVERLY',
  'BROOKS',
  'AFFAIR PREJUDICE'),
 (12726,
  datetime.datetime(2005, 8, 18, 21, 44, 46),
  datetime.datetime(2005, 8, 19, 21, 58, 46),
  'JIMMY',
  'SCHRADER',
  'AFFAIR PREJUDICE'),
 (6348,
  datetime.datetime(2005, 7, 11, 20, 21, 18),
  datetime.datetime(2005, 7, 19, 15, 56, 18),
  'JANICE',
  'WARD',
  'AFFAIR PREJUDICE'),
 (9359,
  datetime.datetime(2005, 7, 30, 18, 39, 28),
  datetime.datetime(2005, 7, 31, 15, 39, 28),
  'RUBEN',
  'GEARY',
  'AFFAIR PREJUDICE'),
 (15542,
  datetime.datetime(2006, 2, 14, 15, 16, 3),
  None,
  'CARMEN',
  'OWENS',
  'AFFAIR PREJUDICE'),
 (4802,
  datetime.datetime(2005, 7, 8, 16, 55, 17),
  datetime.datetime(2005, 7, 15, 19, 34, 17),
  'WALLACE',
  'SLONE',
  'AFFAIR PREJUDICE'),
 (8002,
  datetime.datetime(2005, 7, 28, 15, 11),
  datetime.datetime(2005, 7, 31, 15, 46),
  'OSCAR',
  'AQUINO',
  'AFFAIR PREJUDICE'),
 (13943,
  datetime.datetime(2005, 8, 20, 17, 31, 18),
  datetime.datetime(2005, 8, 24, 11, 33, 18),
  'JEROME',
  'KENYON',
  'AFFAIR PREJUDICE'),
 (552,
  datetime.datetime(2005, 5, 28, 7, 53, 38),
  datetime.datetime(2005, 6, 4, 12, 45, 38),
  'CONNIE',
  'WALLACE',
  'AFRICAN EGG'),
 (1614,
  datetime.datetime(2005, 6, 16, 6, 58, 2),
  datetime.datetime(2005, 6, 23, 11, 24, 2),
  'RICARDO',
  'MEADOR',
  'AFRICAN EGG'),
 (6615,
  datetime.datetime(2005, 7, 12, 8, 36, 22),
  datetime.datetime(2005, 7, 20, 9, 3, 22),
  'BARRY',
  'LOVELACE',
  'AFRICAN EGG'),
 (11129,
  datetime.datetime(2005, 8, 2, 9, 8, 44),
  datetime.datetime(2005, 8, 4, 4, 0, 44),
  'CASEY',
  'MENA',
  'AFRICAN EGG'),
 (12926,
  datetime.datetime(2005, 8, 19, 5, 0, 16),
  datetime.datetime(2005, 8, 26, 6, 12, 16),
  'JOSHUA',
  'MARK',
  'AFRICAN EGG'),
 (2255,
  datetime.datetime(2005, 6, 18, 5, 21, 12),
  datetime.datetime(2005, 6, 26, 9, 19, 12),
  'CURTIS',
  'IRBY',
  'AFRICAN EGG'),
 (5362,
  datetime.datetime(2005, 7, 9, 18, 16, 8),
  datetime.datetime(2005, 7, 18, 18, 27, 8),
  'NORA',
  'HERRERA',
  'AFRICAN EGG'),
 (7793,
  datetime.datetime(2005, 7, 28, 7, 26, 14),
  datetime.datetime(2005, 8, 3, 7, 45, 14),
  'AMY',
  'LOPEZ',
  'AFRICAN EGG'),
 (13043,
  datetime.datetime(2005, 8, 19, 9, 7, 13),
  datetime.datetime(2005, 8, 27, 7, 49, 13),
  'ELAINE',
  'STEVENS',
  'AFRICAN EGG'),
 (5030,
  datetime.datetime(2005, 7, 9, 2, 35, 43),
  datetime.datetime(2005, 7, 17, 2, 5, 43),
  'GILBERT',
  'SLEDGE',
  'AFRICAN EGG'),
 (9851,
  datetime.datetime(2005, 7, 31, 12, 50, 24),
  datetime.datetime(2005, 8, 8, 8, 30, 24),
  'JOYCE',
  'EDWARDS',
  'AFRICAN EGG'),
 (15458,
  datetime.datetime(2006, 2, 14, 15, 16, 3),
  None,
  'SETH',
  'HANNON',
  'AFRICAN EGG'),
 (317,
  datetime.datetime(2005, 5, 26, 23, 23, 56),
  datetime.datetime(2005, 6, 1, 19, 56, 56),
  'CLARENCE',
  'GAMEZ',
  'AGENT TRUMAN'),
 (3391,
  datetime.datetime(2005, 6, 21, 15, 11, 2),
  datetime.datetime(2005, 6, 25, 14, 12, 2),
  'JANET',
  'PHILLIPS',
  'AGENT TRUMAN'),
 (4594,
  datetime.datetime(2005, 7, 8, 6, 40, 6),
  datetime.datetime(2005, 7, 16, 5, 51, 6),
  'LESLIE',
  'SEWARD',
  'AGENT TRUMAN'),
 (8353,
  datetime.datetime(2005, 7, 29, 4, 52, 10),
  datetime.datetime(2005, 7, 30, 4, 1, 10),
  'PERRY',
  'SWAFFORD',
  'AGENT TRUMAN'),
 (12764,
  datetime.datetime(2005, 8, 18, 23, 14, 15),
  datetime.datetime(2005, 8, 22, 20, 23, 15),
  'IDA',
  'ANDREWS',
  'AGENT TRUMAN'),
 (2965,
  datetime.datetime(2005, 6, 20, 7, 33, 38),
  datetime.datetime(2005, 6, 29, 11, 45, 38),
  'CATHERINE',
  'CAMPBELL',
  'AGENT TRUMAN'),
 (3567,
  datetime.datetime(2005, 7, 6, 3, 9, 36),
  datetime.datetime(2005, 7, 12, 2, 15, 36),
  'TERRY',
  'GRISSOM',
  'AGENT TRUMAN'),
 (10526,
  datetime.datetime(2005, 8, 1, 11, 55, 33),
  datetime.datetime(2005, 8, 8, 16, 42, 33),
  'BETTY',
  'WHITE',
  'AGENT TRUMAN'),
 (11944,
  datetime.datetime(2005, 8, 17, 17, 2, 42),
  datetime.datetime(2005, 8, 21, 16, 40, 42),
  'ALAN',
  'KAHN',
  'AGENT TRUMAN'),
 (8263,
  datetime.datetime(2005, 7, 29, 1, 11, 23),
  datetime.datetime(2005, 7, 31, 1, 53, 23),
  'ELIZABETH',
  'BROWN',
  'AGENT TRUMAN'),
 (13796,
  datetime.datetime(2005, 8, 20, 12, 32, 32),
  datetime.datetime(2005, 8, 29, 10, 48, 32),
  'TONYA',
  'CHAPMAN',
  'AGENT TRUMAN'),
 (5806,
  datetime.datetime(2005, 7, 10, 15, 11, 54),
  datetime.datetime(2005, 7, 15, 11, 51, 54),
  'TRACY',
  'COLE',
  'AGENT TRUMAN'),
 (10485,
  datetime.datetime(2005, 8, 1, 10, 20, 34),
  datetime.datetime(2005, 8, 9, 9, 20, 34),
  'DIANE',
  'COLLINS',
  'AGENT TRUMAN'),
 (12513,
  datetime.datetime(2005, 8, 18, 13, 31, 45),
  datetime.datetime(2005, 8, 25, 8, 26, 45),
  'CORY',
  'MEEHAN',
  'AGENT TRUMAN'),
 (259,
  datetime.datetime(2005, 5, 26, 15, 32, 46),
  datetime.datetime(2005, 6, 4, 15, 27, 46),
  'MAURICE',
  'CRAWLEY',
  'AGENT TRUMAN'),
 (2569,
  datetime.datetime(2005, 6, 19, 4, 19, 4),
  datetime.datetime(2005, 6, 26, 4, 31, 4),
  'GINA',
  'WILLIAMSON',
  'AGENT TRUMAN'),
 (3756,
  datetime.datetime(2005, 7, 6, 12, 40, 38),
  datetime.datetime(2005, 7, 11, 9, 29, 38),
  'ANTHONY',
  'SCHWAB',
  'AGENT TRUMAN'),
 (7810,
  datetime.datetime(2005, 7, 28, 8, 0, 38),
  datetime.datetime(2005, 8, 2, 6, 14, 38),
  'CLINTON',
  'BUFORD',
  'AGENT TRUMAN'),
 (12463,
  datetime.datetime(2005, 8, 18, 11, 31, 34),
  datetime.datetime(2005, 8, 23, 12, 4, 34),
  'KRISTIN',
  'JOHNSTON',
  'AGENT TRUMAN'),
 (11261,
  datetime.datetime(2005, 8, 2, 13, 54, 26),
  datetime.datetime(2005, 8, 10, 19, 4, 26),
  'ROSEMARY',
  'SCHMIDT',
  'AGENT TRUMAN'),
 (14554,
  datetime.datetime(2005, 8, 21, 16, 3, 1),
  datetime.datetime(2005, 8, 26, 13, 9, 1),
  'MARTHA',
  'GONZALEZ',
  'AGENT TRUMAN'),
 (11084,
  datetime.datetime(2005, 8, 2, 7, 34, 19),
  datetime.datetime(2005, 8, 7, 9, 30, 19),
  'FRED',
  'WHEAT',
  'AIRPLANE SIERRA'),
 (14942,
  datetime.datetime(2005, 8, 22, 5, 58, 27),
  datetime.datetime(2005, 8, 31, 10, 8, 27),
  'DEAN',
  'SAUER',
  'AIRPLANE SIERRA'),
 (3159,
  datetime.datetime(2005, 6, 20, 21, 11, 50),
  datetime.datetime(2005, 6, 29, 19, 35, 50),
  'CRAIG',
  'MORRELL',
  'AIRPLANE SIERRA'),
 (4937,
  datetime.datetime(2005, 7, 8, 22, 29, 59),
  datetime.datetime(2005, 7, 15, 21, 51, 59),
  'PRISCILLA',
  'LOWE',
  'AIRPLANE SIERRA'),
 (10205,
  datetime.datetime(2005, 8, 1, 0, 48, 24),
  datetime.datetime(2005, 8, 6, 23, 53, 24),
  'WANDA',
  'PATTERSON',
  'AIRPLANE SIERRA'),
 (15224,
  datetime.datetime(2005, 8, 22, 17, 18, 5),
  datetime.datetime(2005, 8, 29, 14, 35, 5),
  'ANDREA',
  'HENDERSON',
  'AIRPLANE SIERRA'),
 (6876,
  datetime.datetime(2005, 7, 12, 20, 32, 50),
  datetime.datetime(2005, 7, 16, 21, 12, 50),
  'JAMIE',
  'WAUGH',
  'AIRPLANE SIERRA'),
 (7156,
  datetime.datetime(2005, 7, 27, 7, 19, 34),
  datetime.datetime(2005, 7, 31, 4, 31, 34),
  'MICHELE',
  'GRANT',
  'AIRPLANE SIERRA'),
 (13303,
  datetime.datetime(2005, 8, 19, 18, 55, 21),
  datetime.datetime(2005, 8, 23, 18, 49, 21),
  'VIVIAN',
  'RUIZ',
  'AIRPLANE SIERRA'),
 (3378,
  datetime.datetime(2005, 6, 21, 13, 51, 28),
  datetime.datetime(2005, 6, 25, 9, 21, 28),
  'JESSE',
  'SCHILLING',
  'AIRPLANE SIERRA'),
 (6287,
  datetime.datetime(2005, 7, 11, 17, 0, 4),
  datetime.datetime(2005, 7, 12, 13, 16, 4),
  'PHYLLIS',
  'FOSTER',
  'AIRPLANE SIERRA'),
 (7352,
  datetime.datetime(2005, 7, 27, 14, 38, 29),
  datetime.datetime(2005, 7, 28, 14, 24, 29),
  'FREDERICK',
  'ISBELL',
  'AIRPLANE SIERRA'),
 (14215,
  datetime.datetime(2005, 8, 21, 4, 34, 11),
  datetime.datetime(2005, 8, 27, 10, 30, 11),
  'TERESA',
  'ROGERS',
  'AIRPLANE SIERRA'),
 (9751,
  datetime.datetime(2005, 7, 31, 9, 20, 50),
  datetime.datetime(2005, 8, 1, 5, 34, 50),
  'CARLA',
  'GUTIERREZ',
  'AIRPLANE SIERRA'),
 (12500,
  datetime.datetime(2005, 8, 18, 13, 5, 51),
  datetime.datetime(2005, 8, 19, 14, 54, 51),
  'DANIEL',
  'CABRAL',
  'AIRPLANE SIERRA'),
 (120,
  datetime.datetime(2005, 5, 25, 19, 37, 47),
  datetime.datetime(2005, 6, 1, 23, 29, 47),
  'BRUCE',
  'SCHWARZ',
  'AIRPORT POLLOCK'),
 (2360,
  datetime.datetime(2005, 6, 18, 13, 11, 13),
  datetime.datetime(2005, 6, 23, 15, 32, 13),
  'EVELYN',
  'MORGAN',
  'AIRPORT POLLOCK'),
 (4626,
  datetime.datetime(2005, 7, 8, 8, 18, 21),
  datetime.datetime(2005, 7, 10, 11, 36, 21),
  'NINA',
  'SOTO',
  'AIRPORT POLLOCK'),
 (10422,
  datetime.datetime(2005, 8, 1, 8, 17, 11),
  datetime.datetime(2005, 8, 10, 10, 8, 11),
  'LYNN',
  'PAYNE',
  'AIRPORT POLLOCK'),
 (14483,
  datetime.datetime(2005, 8, 21, 13, 43, 59),
  datetime.datetime(2005, 8, 28, 16, 38, 59),
  'CAROLE',
  'BARNETT',
  'AIRPORT POLLOCK'),
 (6219,
  datetime.datetime(2005, 7, 11, 13, 18, 37),
  datetime.datetime(2005, 7, 13, 13, 18, 37),
  'WILLIAM',
  'SATTERFIELD',
  'AIRPORT POLLOCK'),
 (7845,
  datetime.datetime(2005, 7, 28, 9, 18, 7),
  datetime.datetime(2005, 8, 4, 10, 23, 7),
  'ALBERT',
  'CROUSE',
  'AIRPORT POLLOCK'),
 (15989,
  datetime.datetime(2005, 8, 23, 20, 24, 36),
  datetime.datetime(2005, 8, 26, 20, 35, 36),
  'DIANA',
  'ALEXANDER',
  'AIRPORT POLLOCK'),
 (785,
  datetime.datetime(2005, 5, 29, 15, 8, 41),
  datetime.datetime(2005, 5, 30, 15, 51, 41),
  'THERESA',
  'WATSON',
  'AIRPORT POLLOCK'),
 (1814,
  datetime.datetime(2005, 6, 16, 21, 15, 22),
  datetime.datetime(2005, 6, 23, 17, 0, 22),
  'CLARA',
  'SHAW',
  'AIRPORT POLLOCK'),
 (3807,
  datetime.datetime(2005, 7, 6, 15, 11, 44),
  datetime.datetime(2005, 7, 10, 9, 20, 44),
  'FRANCIS',
  'SIKES',
  'AIRPORT POLLOCK'),
 (10026,
  datetime.datetime(2005, 7, 31, 18, 31, 51),
  datetime.datetime(2005, 8, 3, 21, 14, 51),
  'STEPHEN',
  'QUALLS',
  'AIRPORT POLLOCK'),
 (12559,
  datetime.datetime(2005, 8, 18, 14, 53, 58),
  datetime.datetime(2005, 8, 25, 20, 22, 58),
  'DUANE',
  'TUBBS',
  'AIRPORT POLLOCK'),
 (1058,
  datetime.datetime(2005, 5, 31, 8, 4, 17),
  datetime.datetime(2005, 6, 3, 11, 12, 17),
  'VICTORIA',
  'GIBSON',
  'AIRPORT POLLOCK'),
 (2771,
  datetime.datetime(2005, 6, 19, 17, 54, 48),
  datetime.datetime(2005, 6, 27, 17, 14, 48),
  'PATSY',
  'DAVIDSON',
  'AIRPORT POLLOCK'),
 (3959,
  datetime.datetime(2005, 7, 6, 22, 7, 58),
  datetime.datetime(2005, 7, 13, 2, 30, 58),
  'MIGUEL',
  'BETANCOURT',
  'AIRPORT POLLOCK'),
 (8434,
  datetime.datetime(2005, 7, 29, 7, 20, 14),
  datetime.datetime(2005, 7, 30, 8, 50, 14),
  'DEBBIE',
  'REYES',
  'AIRPORT POLLOCK'),
 (11799,
  datetime.datetime(2005, 8, 17, 11, 25, 25),
  datetime.datetime(2005, 8, 25, 13, 3, 25),
  'RUBEN',
  'GEARY',
  'AIRPORT POLLOCK'),
 (5745,
  datetime.datetime(2005, 7, 10, 12, 10, 11),
  datetime.datetime(2005, 7, 19, 6, 56, 11),
  'RICHARD',
  'MCCRARY',
  'ALABAMA DEVIL'),
 (10036,
  datetime.datetime(2005, 7, 31, 18, 47, 20),
  datetime.datetime(2005, 8, 3, 22, 53, 20),
  'RICK',
  'MATTOX',
  'ALABAMA DEVIL'),
 (15802,
  datetime.datetime(2005, 8, 23, 14, 26, 51),
  datetime.datetime(2005, 8, 29, 16, 28, 51),
  'VERONICA',
  'STONE',
  'ALABAMA DEVIL'),
 (3880,
  datetime.datetime(2005, 7, 6, 18, 32, 49),
  datetime.datetime(2005, 7, 7, 20, 46, 49),
  'EDGAR',
  'RHOADS',
  'ALABAMA DEVIL'),
 (8837,
  datetime.datetime(2005, 7, 29, 22, 49),
  datetime.datetime(2005, 8, 7, 21, 56),
  'STEVE',
  'MACKENZIE',
  'ALABAMA DEVIL'),
 (15639,
  datetime.datetime(2005, 8, 23, 8, 3, 25),
  datetime.datetime(2005, 8, 24, 10, 21, 25),
  'KRISTIN',
  'JOHNSTON',
  'ALABAMA DEVIL'),
 (7835,
  datetime.datetime(2005, 7, 28, 8, 49, 39),
  datetime.datetime(2005, 8, 2, 7, 16, 39),
  'KURT',
  'EMMONS',
  'ALABAMA DEVIL'),
 (15776,
  datetime.datetime(2005, 8, 23, 13, 26, 1),
  datetime.datetime(2005, 8, 29, 18, 17, 1),
  'FRANKLIN',
  'TROUTMAN',
  'ALABAMA DEVIL'),
 (9442,
  datetime.datetime(2005, 7, 30, 21, 44, 31),
  datetime.datetime(2005, 8, 4, 1, 29, 31),
  'TAMMY',
  'SANDERS',
  'ALABAMA DEVIL'),
 (12096,

In [80]:
pd.DataFrame(results)

,0,1,2,3,4,5
0,4863,2005-07-08 19:03:15,2005-07-11 21:29:15,JOEL,FRANCISCO,ACADEMY DINOSAUR
1,11433,2005-08-02 20:13:10,2005-08-11 21:35:10,GABRIEL,HARDER,ACADEMY DINOSAUR
2,14714,2005-08-21 21:27:43,2005-08-30 22:26:43,DIANNE,SHELTON,ACADEMY DINOSAUR
3,972,2005-05-30 20:21:07,2005-06-06 00:36:07,NORMAN,CURRIER,ACADEMY DINOSAUR
4,2117,2005-06-17 20:24:00,2005-06-23 17:45:00,BEATRICE,ARNOLD,ACADEMY DINOSAUR
...,...,...,...,...,...,...
16039,711,2005-05-29 03:49:03,2005-05-31 08:29:03,JESSIE,BANKS,ZORRO ARK
16040,1493,2005-06-15 21:50:32,2005-06-17 01:02:32,JACKIE,LYNCH,ZORRO ARK
16041,6712,2005-07-12 13:24:47,2005-07-20 09:35:47,MAUREEN,LITTLE,ZORRO ARK
16042,9701,2005-07-31 07:32:21,2005-08-01 05:07:21,TONY,CARRANZA,ZORRO ARK
16043,12894,2005-08-19 03:49:28,2005-08-25 01:51:28,DARREN,WINDHAM,ZORRO ARK

# Challenge 1 - Working with JSON files
Import the pandas library.

In [ ]:
import pandas as pd
import requests
import json

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [ ]:
nasa = pd.read_json(r"C:\Users\dulce\OneDrive\Documentos\Ironhack git\Labs\Labs week 2\lab-import-export\your-code\nasa.json")
nasa

Now that we have loaded the data, let's examine it using the head() function.

In [ ]:
nasa.head()

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [ ]:
frequency_of_asteroid = nasa['fall'].value_counts()
frequency_of_asteroid

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [ ]:
json_file_nasa = 'nasa-output.json'

nasa.to_json(json_file_nasa, orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [ ]:
nasa = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst')
nasa

In [ ]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

shuttle = pd.read_csv(tst_url, names=cols, sep=' ')

shuttle

Let's verify that this worked by looking at the `head()` function.

In [ ]:
shuttle.head()

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [ ]:
nasa_file = 'shuttle.csv'

shuttle.to_csv(output_file, index=False, sep=',')

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
astronaut = pd.read_excel(r"C:\Users\dulce\OneDrive\Documentos\Ironhack git\Labs\Labs week 2\lab-import-export\your-code\astronauts.xls")
astronaut

Use the `head()` function to inspect the dataframe.

In [ ]:
astronaut.head()

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
astronaut['Undergraduate Major'].value_counts()

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [ ]:
path_of_the_file = "astronaut.csv"

astronaut.to_csv(path_of_the_file, sep='\t', index=False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [ ]:
fertility = pd.read_csv(r"C:\Users\dulce\OneDrive\Ambiente de Trabalho\fertility_Diagnosis.csv")
fertility

In [ ]:
path_of_the_file = r"C:\Users\dulce\OneDrive\Ambiente de Trabalho\fertility_Diagnosis.csv"

separator = ','

fertility = pd.read_csv(path_of_the_file, sep=separator)
fertility

In [ ]:
fertility.head()