# Import and Export Files 

# Challenge 1 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [2]:
#Your pandas import here:
import pandas as pd
import numpy as np

In [3]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [20]:
# Your code here:

suttle=pd.read_csv(tst_url,names=cols,sep=' ')
suttle=pd.DataFrame(suttle)

Let's verify that this worked by looking at the `head()` function.

In [21]:
# Your code here:
print (suttle.head())

   Analysis season  Age  Childish diseases  Accident  Surgical Intervention  \
0               55    0                 81         0                     -6
1               56    0                 96         0                     52
2               50   -1                 89        -7                     50
3               53    9                 79         0                     42
4               55    2                 82         0                     54

   High Fevers  Frequency of alcohol comsumption  Smoking habit  \
0           11                                25             88
1           -4                                40             44
2            0                                39             40
3           -2                                25             37
4           -6                                26             28

   Number of hours spent sitting per day  Output
0                                     64       4
1                                      4       4
2                                      2       1
3                                     12       4
4                                      2       1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [22]:
# Your code here:
suttle.to_csv(r"C:\Users\TDias\Documents\GitHub\shuttle.csv")

# Challenge 2 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [24]:
import xlrd

astronaut=pd.read_excel(r'C:\Users\TDias\Documents\GitHub\lab-import-export\your-code\astronauts.xls')
astronaut=pd.DataFrame(astronaut)

Use the `head()` function to inspect the dataframe.

In [25]:
# Your code here:
(astronaut.head())

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [26]:
# Your code here:
index = pd.Index(astronaut)
index.value_counts()

(Joseph M. Acaba, 2004.0, 19.0, Active, 1967-05-17 00:00:00, Inglewood, CA, Male, University of California-Santa Barbara; University of Arizona, Geology, Geology, nan, nan, 2, 3307, 2, 13.0, STS-119 (Discovery), ISS-31/32 (Soyuz), NaT, nan)                                                                                                    1
(Jose M. Hernandez, 2004.0, 19.0, Retired, 1962-08-07 00:00:00, French Camp, CA, Male, University of the Pacific; University of California-Santa Barbara, Electrical Engineering, Electrical & Computer Engineering, nan, nan, 1, 332, 0, 0.0, STS-128 (Discovery), NaT, nan)                                                                       1
(William R. Pogue, 1966.0, 5.0, Retired, 1930-01-23 00:00:00, Okemah, OK, Male, Oklahoma Baptist University; Oklahoma State University, Education, Mathematics, Colonel, US Air Force (Retired), 1, 2017, 2, 13.0, Skylab 4, NaT, nan)                                                                                                              1
(Michael S. Hopkins, 2009.0, 20.0, Active, 1968-12-28 00:00:00, Lebanon, MO, Male, University of Illinois; Stanford University, Aerospace Engineering, Aerospace Engineering, Colonel, US Air Force, 1, 3990, 2, 13.0, ISS-37/38 (Soyuz), NaT, nan)                                                                                                 1
(Lawrence J. Delucas, nan, nan, Retired, 1950-07-11 00:00:00, Syracuse, NY, Male, University of Alabama at Birmingham, Chemistry; Physiological Optics, Chemistry; Biochemistry; Optometry, nan, nan, 1, 331, 0, 0.0, STS-50 (Columbia), NaT, nan)                                                                                                  1
                                                                                                                                                                                                                                                                                                                                                   ..
(Edward G. Gibson, 1965.0, 4.0, Retired, 1936-11-08 00:00:00, Buffalo, NY, Male, University of Rochester; California Institute of Technology, Engineering, Engineering, nan, nan, 1, 2017, 3, 15.0, Skylab 4, NaT, nan)                                                                                                                             1
(Daniel M. Tani, 1996.0, 16.0, Retired, 1961-02-01 00:00:00, Ridley Park, PA, Male, MIT, Mechanical Engineering, Mechanical Engineering, nan, nan, 2, 3162, 6, 39.0, STS-108 (Endeavor), STS-120/122 (Discovery/Atlantis), NaT, nan)                                                                                                                1
(Tamara E. Jernigan, 1985.0, 11.0, Retired, 1959-05-07 00:00:00, Chattanooga, TN, Female, Stanford University; University of California-Berkeley; Rice University, Physics, Engineering Science; Astronomy, nan, nan, 5, 1489, 1, 8.0, STS-40 (Columbia), STS-52 (Columbia), STS-67 (Endeavor), STS-80 (Columbia), STS-98 (Discovery), NaT, nan)    1
(Wendy B. Lawrence, 1992.0, 14.0, Retired, 1959-07-02 00:00:00, Jacksonville, FL, Female, US Naval Academy; MIT, Ocean Engineering, Ocean Engineering, Captain, US Navy (Retired), 4, 1223, 0, 0.0, STS-67 (Endeavor), STS-86 (Atlantis), STS-91 (Discovery), STS-114 (Discovery), NaT, nan)                                                        1
(John B. Herrington, 1996.0, 16.0, Retired, 1958-09-14 00:00:00, Wetumka, OK, Male, University of Colorado; US Naval Postgraduate School, Applied Mathematics, Aeronautical Engineering, Commander, US Navy (Retired), 1, 330, 3, 20.0, STS-113 (Endeavor), NaT, nan)                                                                               1
Length: 357, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [27]:
# Your code here:
astronaut.to_csv(r"C:\Users\TDias\Documents\GitHub\astronaut.csv")

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [28]:
# Your code here:
cols=['Analysis season','Age','Childish diseases','Accident','Surgical Intervention','High Fevers','Frequency of alcohol comsumption','Smoking habit','Number of hours spent sitting per day','Output']

fertility=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00244/fertility_Diagnosis.txt',names=cols)
fertility=pd.DataFrame(fertility)

(fertility.head())

,Analysis season,Age,Childish diseases,Accident,Surgical Intervention,High Fevers,Frequency of alcohol comsumption,Smoking habit,Number of hours spent sitting per day,Output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O