# Import and Export Files

# Challenge 0 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [1]:
# your code here
import mysql.connector
cnx = mysql.connector.connect(user = "root", password = "123qweasdZXC!",host="127.0.0.1")
cnx.is_connected()
cursor = cnx.cursor()
query = """SELECT film.title, actor.first_name, actor.last_name
FROM sakila.film
INNER JOIN sakila.film_actor
ON sakila.film.film_id = sakila.film_actor.film_id
INNER JOIN sakila.actor
ON sakila.film_actor.actor_id = sakila.actor.actor_id;"""
cursor.execute(query)
result = cursor.fetchall()
result

[('ACADEMY DINOSAUR', 'PENELOPE', 'GUINESS'),
 ('ANACONDA CONFESSIONS', 'PENELOPE', 'GUINESS'),
 ('ANGELS LIFE', 'PENELOPE', 'GUINESS'),
 ('BULWORTH COMMANDMENTS', 'PENELOPE', 'GUINESS'),
 ('CHEAPER CLYDE', 'PENELOPE', 'GUINESS'),
 ('COLOR PHILADELPHIA', 'PENELOPE', 'GUINESS'),
 ('ELEPHANT TROJAN', 'PENELOPE', 'GUINESS'),
 ('GLEAMING JAWBREAKER', 'PENELOPE', 'GUINESS'),
 ('HUMAN GRAFFITI', 'PENELOPE', 'GUINESS'),
 ('KING EVOLUTION', 'PENELOPE', 'GUINESS'),
 ('LADY STAGE', 'PENELOPE', 'GUINESS'),
 ('LANGUAGE COWBOY', 'PENELOPE', 'GUINESS'),
 ('MULHOLLAND BEAST', 'PENELOPE', 'GUINESS'),
 ('OKLAHOMA JUMANJI', 'PENELOPE', 'GUINESS'),
 ('RULES HUMAN', 'PENELOPE', 'GUINESS'),
 ('SPLASH GUMP', 'PENELOPE', 'GUINESS'),
 ('VERTIGO NORTHWEST', 'PENELOPE', 'GUINESS'),
 ('WESTWARD SEABISCUIT', 'PENELOPE', 'GUINESS'),
 ('WIZARD COLDBLOODED', 'PENELOPE', 'GUINESS'),
 ('ADAPTATION HOLES', 'NICK', 'WAHLBERG'),
 ('APACHE DIVINE', 'NICK', 'WAHLBERG'),
 ('BABY HALL', 'NICK', 'WAHLBERG'),
 ('BULL SHAWSHANK', 'NICK', 'WAHLBERG'),
 ('CHAINSAW UPTOWN', 'NICK', 'WAHLBERG'),
 ('CHISUM BEHAVIOR', 'NICK', 'WAHLBERG'),
 ('DESTINY SATURDAY', 'NICK', 'WAHLBERG'),
 ('DRACULA CRYSTAL', 'NICK', 'WAHLBERG'),
 ('FIGHT JAWBREAKER', 'NICK', 'WAHLBERG'),
 ('FLASH WARS', 'NICK', 'WAHLBERG'),
 ('GILBERT PELICAN', 'NICK', 'WAHLBERG'),
 ('GOODFELLAS SALUTE', 'NICK', 'WAHLBERG'),
 ('HAPPINESS UNITED', 'NICK', 'WAHLBERG'),
 ('INDIAN LOVE', 'NICK', 'WAHLBERG'),
 ('JEKYLL FROGMEN', 'NICK', 'WAHLBERG'),
 ('JERSEY SASSY', 'NICK', 'WAHLBERG'),
 ('LIAISONS SWEET', 'NICK', 'WAHLBERG'),
 ('LUCKY FLYING', 'NICK', 'WAHLBERG'),
 ('MAGUIRE APACHE', 'NICK', 'WAHLBERG'),
 ('MALLRATS UNITED', 'NICK', 'WAHLBERG'),
 ('MASK PEACH', 'NICK', 'WAHLBERG'),
 ('ROOF CHAMPION', 'NICK', 'WAHLBERG'),
 ('RUSHMORE MERMAID', 'NICK', 'WAHLBERG'),
 ('SMILE EARRING', 'NICK', 'WAHLBERG'),
 ('WARDROBE PHANTOM', 'NICK', 'WAHLBERG'),
 ('ALONE TRIP', 'ED', 'CHASE'),
 ('ARMY FLINTSTONES', 'ED', 'CHASE'),
 ('ARTIST COLDBLOODED', 'ED', 'CHASE'),
 ('BOONDOCK BALLROOM', 'ED', 'CHASE'),
 ('CADDYSHACK JEDI', 'ED', 'CHASE'),
 ('COWBOY DOOM', 'ED', 'CHASE'),
 ('EVE RESURRECTION', 'ED', 'CHASE'),
 ('FORREST SONS', 'ED', 'CHASE'),
 ('FRENCH HOLIDAY', 'ED', 'CHASE'),
 ('FROST HEAD', 'ED', 'CHASE'),
 ('HALLOWEEN NUTS', 'ED', 'CHASE'),
 ('HUNTER ALTER', 'ED', 'CHASE'),
 ('IMAGE PRINCESS', 'ED', 'CHASE'),
 ('JEEPERS WEDDING', 'ED', 'CHASE'),
 ('LUCK OPUS', 'ED', 'CHASE'),
 ('NECKLACE OUTBREAK', 'ED', 'CHASE'),
 ('PLATOON INSTINCT', 'ED', 'CHASE'),
 ('SPICE SORORITY', 'ED', 'CHASE'),
 ('WEDDING APOLLO', 'ED', 'CHASE'),
 ('WEEKEND PERSONAL', 'ED', 'CHASE'),
 ('WHALE BIKINI', 'ED', 'CHASE'),
 ('YOUNG LANGUAGE', 'ED', 'CHASE'),
 ('ANACONDA CONFESSIONS', 'JENNIFER', 'DAVIS'),
 ('ANGELS LIFE', 'JENNIFER', 'DAVIS'),
 ('BAREFOOT MANCHURIAN', 'JENNIFER', 'DAVIS'),
 ('BED HIGHBALL', 'JENNIFER', 'DAVIS'),
 ('BLADE POLISH', 'JENNIFER', 'DAVIS'),
 ('BOONDOCK BALLROOM', 'JENNIFER', 'DAVIS'),
 ('GHOSTBUSTERS ELF', 'JENNIFER', 'DAVIS'),
 ('GREEDY ROOTS', 'JENNIFER', 'DAVIS'),
 ('HANOVER GALAXY', 'JENNIFER', 'DAVIS'),
 ('INSTINCT AIRPORT', 'JENNIFER', 'DAVIS'),
 ('JUMANJI BLADE', 'JENNIFER', 'DAVIS'),
 ('NATIONAL STORY', 'JENNIFER', 'DAVIS'),
 ('OKLAHOMA JUMANJI', 'JENNIFER', 'DAVIS'),
 ('POSEIDON FOREVER', 'JENNIFER', 'DAVIS'),
 ('RAIDERS ANTITRUST', 'JENNIFER', 'DAVIS'),
 ('RANDOM GO', 'JENNIFER', 'DAVIS'),
 ('REDS POCUS', 'JENNIFER', 'DAVIS'),
 ('SILVERADO GOLDFINGER', 'JENNIFER', 'DAVIS'),
 ('SPLASH GUMP', 'JENNIFER', 'DAVIS'),
 ('SUBMARINE BED', 'JENNIFER', 'DAVIS'),
 ('TREASURE COMMAND', 'JENNIFER', 'DAVIS'),
 ('UNFORGIVEN ZOOLANDER', 'JENNIFER', 'DAVIS'),
 ('AMADEUS HOLY', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('BANGER PINOCCHIO', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('BONNIE HOLOCAUST', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('CHITTY LOCK', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('COMMANDMENTS EXPRESS', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('CONEHEADS SMOOCHY', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('DADDY PITTSBURGH', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('DAISY MENAGERIE', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('ENOUGH RAGING', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('ESCAPE METROPOLIS', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('FIRE WOLVES', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('FRONTIER CABIN', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('GOODFELLAS SALUTE', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('GRAIL FRANKENSTEIN', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('GROOVE FICTION', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('HALL CASSIDY', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('HEAVENLY GUN', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('KRAMER CHOCOLATE', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('LOVE SUICIDES', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('METAL ARMAGEDDON', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('PACIFIC AMISTAD', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('PATTON INTERVIEW', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('POCUS PULP', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('RIDGEMONT SUBMARINE', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('RINGS HEARTBREAKERS', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('SMILE EARRING', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('SOLDIERS EVOLUTION', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('STAR OPERATION', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('SUNRISE LEAGUE', 'JOHNNY', 'LOLLOBRIGIDA'),
 ('ANTITRUST TOMATOES', 'BETTE', 'NICHOLSON'),
 ('BANG KWAI', 'BETTE', 'NICHOLSON'),
 ('BEAST HUNCHBACK', 'BETTE', 'NICHOLSON'),
 ('BIKINI BORROWERS', 'BETTE', 'NICHOLSON'),
 ('CALENDAR GUNFIGHT', 'BETTE', 'NICHOLSON'),
 ('COAST RAINBOW', 'BETTE', 'NICHOLSON'),
 ('COLDBLOODED DARLING', 'BETTE', 'NICHOLSON'),
 ('CROSSROADS CASUALTIES', 'BETTE', 'NICHOLSON'),
 ('DROP WATERFRONT', 'BETTE', 'NICHOLSON'),
 ('IGBY MAKER', 'BETTE', 'NICHOLSON'),
 ('KRAMER CHOCOLATE', 'BETTE', 'NICHOLSON'),
 ('LANGUAGE COWBOY', 'BETTE', 'NICHOLSON'),
 ('LESSON CLEOPATRA', 'BETTE', 'NICHOLSON'),
 ('LIBERTY MAGNIFICENT', 'BETTE', 'NICHOLSON'),
 ('MULHOLLAND BEAST', 'BETTE', 'NICHOLSON'),
 ('POTLUCK MIXED', 'BETTE', 'NICHOLSON'),
 ('SPEED SUIT', 'BETTE', 'NICHOLSON'),
 ('TITANIC BOONDOCK', 'BETTE', 'NICHOLSON'),
 ('TRADING PINOCCHIO', 'BETTE', 'NICHOLSON'),
 ('WYOMING STORM', 'BETTE', 'NICHOLSON'),
 ('ANGELS LIFE', 'GRACE', 'MOSTEL'),
 ('ANONYMOUS HUMAN', 'GRACE', 'MOSTEL'),
 ('ARACHNOPHOBIA ROLLERCOASTER', 'GRACE', 'MOSTEL'),
 ('BERETS AGENT', 'GRACE', 'MOSTEL'),
 ('BREAKING HOME', 'GRACE', 'MOSTEL'),
 ('COMMAND DARLING', 'GRACE', 'MOSTEL'),
 ('CONFESSIONS MAGUIRE', 'GRACE', 'MOSTEL'),
 ('DAZED PUNK', 'GRACE', 'MOSTEL'),
 ('DECEIVER BETRAYED', 'GRACE', 'MOSTEL'),
 ('DESTINATION JERK', 'GRACE', 'MOSTEL'),
 ('EXCITEMENT EVE', 'GRACE', 'MOSTEL'),
 ('GASLIGHT CRUSADE', 'GRACE', 'MOSTEL'),
 ('HELLFIGHTERS SIERRA', 'GRACE', 'MOSTEL'),
 ('INSTINCT AIRPORT', 'GRACE', 'MOSTEL'),
 ('MALKOVICH PET', 'GRACE', 'MOSTEL'),
 ('NECKLACE OUTBREAK', 'GRACE', 'MOSTEL'),
 ('OCTOBER SUBMARINE', 'GRACE', 'MOSTEL'),
 ('OPEN AFRICAN', 'GRACE', 'MOSTEL'),
 ('POSEIDON FOREVER', 'GRACE', 'MOSTEL'),
 ('SAINTS BRIDE', 'GRACE', 'MOSTEL'),
 ('SAVANNAH TOWN', 'GRACE', 'MOSTEL'),
 ('SCISSORHANDS SLUMS', 'GRACE', 'MOSTEL'),
 ('SLEEPLESS MONSOON', 'GRACE', 'MOSTEL'),
 ('SLEEPY JAPANESE', 'GRACE', 'MOSTEL'),
 ('STING PERSONAL', 'GRACE', 'MOSTEL'),
 ('TOWN ARK', 'GRACE', 'MOSTEL'),
 ('TRACY CIDER', 'GRACE', 'MOSTEL'),
 ('TREATMENT JEKYLL', 'GRACE', 'MOSTEL'),
 ('WAR NOTTING', 'GRACE', 'MOSTEL'),
 ('WARLOCK WEREWOLF', 'GRACE', 'MOSTEL'),
 ('BABY HALL', 'MATTHEW', 'JOHANSSON'),
 ('CAMPUS REMEMBER', 'MATTHEW', 'JOHANSSON'),
 ('CLONES PINOCCHIO', 'MATTHEW', 'JOHANSSON'),
 ('CONQUERER NUTS', 'MATTHEW', 'JOHANSSON'),
 ('CROWDS TELEMARK', 'MATTHEW', 'JOHANSSON'),
 ('DANCES NONE', 'MATTHEW', 'JOHANSSON'),
 ('DRIVING POLISH', 'MATTHEW', 'JOHANSSON'),
 ('DURHAM PANKY', 'MATTHEW', 'JOHANSSON'),
 ('FLASH WARS', 'MATTHEW', 'JOHANSSON'),
 ('HANGING DEEP', 'MATTHEW', 'JOHANSSON'),
 ('INDIAN LOVE', 'MATTHEW', 'JOHANSSON'),
 ('LIGHTS DEER', 'MATTHEW', 'JOHANSSON'),
 ('LOSER HUSTLER', 'MATTHEW', 'JOHANSSON'),
 ('MALKOVICH PET', 'MATTHEW', 'JOHANSSON'),
 ('RUNNER MADIGAN', 'MATTHEW', 'JOHANSSON'),
 ('SCHOOL JACKET', 'MATTHEW', 'JOHANSSON'),
 ('SCORPION APOLLO', 'MATTHEW', 'JOHANSSON'),
 ('SUGAR WONKA', 'MATTHEW', 'JOHANSSON'),
 ('TOMORROW HUSTLER', 'MATTHEW', 'JOHANSSON'),
 ('VANISHING ROCKY', 'MATTHEW', 'JOHANSSON'),
 ('ANYTHING SAVANNAH', 'JOE', 'SWANK'),
 ('BIRCH ANTITRUST', 'JOE', 'SWANK'),
 ('CHOCOLAT HARRY', 'JOE', 'SWANK'),
 ('CHOCOLATE DUCK', 'JOE', 'SWANK'),
 ('CROOKED FROGMEN', 'JOE', 'SWANK'),
 ('CURTAIN VIDEOTAPE', 'JOE', 'SWANK'),
 ('DALMATIONS SWEDEN', 'JOE', 'SWANK'),
 ('HORROR REIGN', 'JOE', 'SWANK'),
 ('LAWLESS VISION', 'JOE', 'SWANK'),
 ('LEBOWSKI SOLDIERS', 'JOE', 'SWANK'),
 ('MAJESTIC FLOATS', 'JOE', 'SWANK'),
 ('PACIFIC AMISTAD', 'JOE', 'SWANK'),
 ('PERDITION FARGO', 'JOE', 'SWANK'),
 ('PRIMARY GLASS', 'JOE', 'SWANK'),
 ('REEF SALUTE', 'JOE', 'SWANK'),
 ('RUNNER MADIGAN', 'JOE', 'SWANK'),
 ('SMILE EARRING', 'JOE', 'SWANK'),
 ('SNATCHERS MONTEZUMA', 'JOE', 'SWANK'),
 ('SUNRISE LEAGUE', 'JOE', 'SWANK'),
 ('SWEETHEARTS SUSPECTS', 'JOE', 'SWANK'),
 ('TIES HUNGER', 'JOE', 'SWANK'),
 ('TRAFFIC HOBBIT', 'JOE', 'SWANK'),
 ('UNTOUCHABLES SUNRISE', 'JOE', 'SWANK'),
 ('WATERFRONT DELIVERANCE', 'JOE', 'SWANK'),
 ('WILD APOLLO', 'JOE', 'SWANK'),
 ('ACADEMY DINOSAUR', 'CHRISTIAN', 'GABLE'),
 ('ALABAMA DEVIL', 'CHRISTIAN', 'GABLE'),
 ('CROOKED FROGMEN', 'CHRISTIAN', 'GABLE'),
 ('DIVINE RESURRECTION', 'CHRISTIAN', 'GABLE'),
 ('DRAGONFLY STRANGERS', 'CHRISTIAN', 'GABLE'),
 ('GOLDFINGER SENSIBILITY', 'CHRISTIAN', 'GABLE'),
 ('JAWBREAKER BROOKLYN', 'CHRISTIAN', 'GABLE'),
 ('JEEPERS WEDDING', 'CHRISTIAN', 'GABLE'),
 ('LIFE TWISTED', 'CHRISTIAN', 'GABLE'),
 ('LORD ARIZONA', 'CHRISTIAN', 'GABLE'),
 ('MOD SECRETARY', 'CHRISTIAN', 'GABLE'),
 ('PREJUDICE OLEANDER', 'CHRISTIAN', 'GABLE'),
 ('PUNK DIVORCE', 'CHRISTIAN', 'GABLE'),
 ('REAP UNFAITHFUL', 'CHRISTIAN', 'GABLE'),
 ('SHAKESPEARE SADDLE', 'CHRISTIAN', 'GABLE'),
 ('TROUBLE DATE', 'CHRISTIAN', 'GABLE'),
 ('USUAL UNTOUCHABLES', 'CHRISTIAN', 'GABLE'),
 ('VACATION BOONDOCK', 'CHRISTIAN', 'GABLE'),
 ('WATERFRONT DELIVERANCE', 'CHRISTIAN', 'GABLE'),
 ('WEDDING APOLLO', 'CHRISTIAN', 'GABLE'),
 ('WIZARD COLDBLOODED', 'CHRISTIAN', 'GABLE'),
 ('WON DARES', 'CHRISTIAN', 'GABLE'),
 ('CANYON STOCK', 'ZERO', 'CAGE'),
 ('DANCES NONE', 'ZERO', 'CAGE'),
 ('ENCINO ELF', 'ZERO', 'CAGE'),
 ('ENDING CROWDS', 'ZERO', 'CAGE'),
 ('GANDHI KWAI', 'ZERO', 'CAGE'),
 ('GODFATHER DIARY', 'ZERO', 'CAGE'),
 ('HANDICAP BOONDOCK', 'ZERO', 'CAGE'),
 ('HONEY TIES', 'ZERO', 'CAGE'),
 ('HORN WORKING', 'ZERO', 'CAGE'),
 ('IMAGE PRINCESS', 'ZERO', 'CAGE'),
 ('JERSEY SASSY', 'ZERO', 'CAGE'),
 ('LOSER HUSTLER', 'ZERO', 'CAGE'),
 ('MEET CHOCOLATE', 'ZERO', 'CAGE'),
 ('MOD SECRETARY', 'ZERO', 'CAGE'),
 ('MOONWALKER FOOL', 'ZERO', 'CAGE'),
 ('OLEANDER CLUE', 'ZERO', 'CAGE'),
 ('RACER EGG', 'ZERO', 'CAGE'),
 ('STORY SIDE', 'ZERO', 'CAGE'),
 ('STRANGERS GRAFFITI', 'ZERO', 'CAGE'),
 ('THIN SAGEBRUSH', 'ZERO', 'CAGE'),
 ('TOOTSIE PILOT', 'ZERO', 'CAGE'),
 ('UPTOWN YOUNG', 'ZERO', 'CAGE'),
 ('VELVET TERMINATOR', 'ZERO', 'CAGE'),
 ('WEST LION', 'ZERO', 'CAGE'),
 ('WORKER TARZAN', 'ZERO', 'CAGE'),
 ('ALLEY EVOLUTION', 'KARL', 'BERRY'),
 ('ALONE TRIP', 'KARL', 'BERRY'),
 ('ARABIA DOGMA', 'KARL', 'BERRY'),
 ('ARIZONA BANG', 'KARL', 'BERRY'),
 ('BOUND CHEAPER', 'KARL', 'BERRY'),
 ('BOWFINGER GABLES', 'KARL', 'BERRY'),
 ('BUNCH MINDS', 'KARL', 'BERRY'),
 ('CLEOPATRA DEVIL', 'KARL', 'BERRY'),
 ('CONNECTICUT TRAMP', 'KARL', 'BERRY'),
 ('DARES PLUTO', 'KARL', 'BERRY'),
 ('DATE SPEED', 'KARL', 'BERRY'),
 ('DAY UNFAITHFUL', 'KARL', 'BERRY'),
 ('DOORS PRESIDENT', 'KARL', 'BERRY'),
 ('FURY MURDER', 'KARL', 'BERRY'),
 ('HARDLY ROBBERS', 'KARL', 'BERRY'),
 ('HIGHBALL POTTER', 'KARL', 'BERRY'),
 ('HOLES BRANNIGAN', 'KARL', 'BERRY'),
 ('INDEPENDENCE HOTEL', 'KARL', 'BERRY'),
 ('LEATHERNECKS DWARFS', 'KARL', 'BERRY'),
 ('LUCKY FLYING', 'KARL', 'BERRY'),
 ('MONTEREY LABYRINTH', 'KARL', 'BERRY'),
 ('NOVOCAINE FLIGHT', 'KARL', 'BERRY'),
 ('OKLAHOMA JUMANJI', 'KARL', 'BERRY'),
 ('PERFECT GROOVE', 'KARL', 'BERRY'),
 ('REAP UNFAITHFUL', 'KARL', 'BERRY'),
 ('REUNION WITCHES', 'KARL', 'BERRY'),
 ('SMOKING BARBARELLA', 'KARL', 'BERRY'),
 ('STAGECOACH ARMAGEDDON', 'KARL', 'BERRY'),
 ('SWEDEN SHINING', 'KARL', 'BERRY'),
 ('TELEMARK HEARTBREAKERS', 'KARL', 'BERRY'),
 ('VIRGINIAN PLUTO', 'KARL', 'BERRY'),
 ('ALONE TRIP', 'UMA', 'WOOD'),
 ('ANTITRUST TOMATOES', 'UMA', 'WOOD'),
 ('ATTRACTION NEWTON', 'UMA', 'WOOD'),
 ('BOONDOCK BALLROOM', 'UMA', 'WOOD'),
 ('CABIN FLASH', 'UMA', 'WOOD'),
 ('CHINATOWN GLADIATOR', 'UMA', 'WOOD'),
 ('CLASH FREDDY', 'UMA', 'WOOD'),
 ('CLUELESS BUCKET', 'UMA', 'WOOD'),
 ('DAISY MENAGERIE', 'UMA', 'WOOD'),
 ('DRIVER ANNIE', 'UMA', 'WOOD'),
 ('FRIDA SLIPPER', 'UMA', 'WOOD'),
 ('GALAXY SWEETHEARTS', 'UMA', 'WOOD'),
 ('GRINCH MASSAGE', 'UMA', 'WOOD'),
 ('GROUNDHOG UNCUT', 'UMA', 'WOOD'),
 ('HOMEWARD CIDER', 'UMA', 'WOOD'),
 ('INCH JET', 'UMA', 'WOOD'),
 ('LEATHERNECKS DWARFS', 'UMA', 'WOOD'),
 ('LEGALLY SECRETARY', 'UMA', 'WOOD'),
 ('LIFE TWISTED', 'UMA', 'WOOD'),
 ('LION UNCUT', 'UMA', 'WOOD'),
 ('LOLITA WORLD', 'UMA', 'WOOD'),
 ('METAL ARMAGEDDON', 'UMA', 'WOOD'),
 ('MODEL FISH', 'UMA', 'WOOD'),
 ('MOONWALKER FOOL', 'UMA', 'WOOD'),
 ('MOTIONS DETAILS', 'UMA', 'WOOD'),
 ('REBEL AIRPORT', 'UMA', 'WOOD'),
 ('RIDER CADDYSHACK', 'UMA', 'WOOD'),
 ('SNOWMAN ROLLERCOASTER', 'UMA', 'WOOD'),
 ('SOLDIERS EVOLUTION', 'UMA', 'WOOD'),
 ('SPLASH GUMP', 'UMA', 'WOOD'),
 ('SPLENDOR PATTON', 'UMA', 'WOOD'),
 ('STEEL SANTA', 'UMA', 'WOOD'),
 ('TORQUE BOUND', 'UMA', 'WOOD'),
 ('WEDDING APOLLO', 'UMA', 'WOOD'),
 ('ZHIVAGO CORE', 'UMA', 'WOOD'),
 ('CLASH FREDDY', 'VIVIEN', 'BERGEN'),
 ('CRANES RESERVOIR', 'VIVIEN', 'BERGEN'),
 ('DIRTY ACE', 'VIVIEN', 'BERGEN'),
 ('DONNIE ALLEY', 'VIVIEN', 'BERGEN'),
 ('DRIFTER COMMANDMENTS', 'VIVIEN', 'BERGEN'),
 ('DRIVING POLISH', 'VIVIEN', 'BERGEN'),
 ('DRUMS DYNAMITE', 'VIVIEN', 'BERGEN'),
 ('ENEMY ODDS', 'VIVIEN', 'BERGEN'),
 ('EXCITEMENT EVE', 'VIVIEN', 'BERGEN'),
 ('GORGEOUS BINGO', 'VIVIEN', 'BERGEN'),
 ('HIGH ENCINO', 'VIVIEN', 'BERGEN'),
 ('HILLS NEIGHBORS', 'VIVIEN', 'BERGEN'),
 ('HOBBIT ALIEN', 'VIVIEN', 'BERGEN'),
 ('IMPACT ALADDIN', 'VIVIEN', 'BERGEN'),
 ('ITALIAN AFRICAN', 'VIVIEN', 'BERGEN'),
 ('JAPANESE RUN', 'VIVIEN', 'BERGEN'),
 ('KENTUCKIAN GIANT', 'VIVIEN', 'BERGEN'),
 ('LOVELY JINGLE', 'VIVIEN', 'BERGEN'),
 ('LOVER TRUMAN', 'VIVIEN', 'BERGEN'),
 ('MUSSOLINI SPOILERS', 'VIVIEN', 'BERGEN'),
 ('POLISH BROOKLYN', 'VIVIEN', 'BERGEN'),
 ('SALUTE APOLLO', 'VIVIEN', 'BERGEN'),
 ('SATURDAY LAMBS', 'VIVIEN', 'BERGEN'),
 ('STOCK GLASS', 'VIVIEN', 'BERGEN'),
 ('STREETCAR INTENTIONS', 'VIVIEN', 'BERGEN'),
 ('TIGHTS DAWN', 'VIVIEN', 'BERGEN'),
 ('TRAP GUYS', 'VIVIEN', 'BERGEN'),
 ('TYCOON GATHERING', 'VIVIEN', 'BERGEN'),
 ('VOICE PEACH', 'VIVIEN', 'BERGEN'),
 ('WESTWARD SEABISCUIT', 'VIVIEN', 'BERGEN'),
 ('APACHE DIVINE', 'CUBA', 'OLIVIER'),
 ('BORROWERS BEDAZZLED', 'CUBA', 'OLIVIER'),
 ('BOUND CHEAPER', 'CUBA', 'OLIVIER'),
 ('BUTCH PANTHER', 'CUBA', 'OLIVIER'),
 ('CASSIDY WYOMING', 'CUBA', 'OLIVIER'),
 ('DIVINE RESURRECTION', 'CUBA', 'OLIVIER'),
 ('EGYPT TENENBAUMS', 'CUBA', 'OLIVIER'),
 ('EMPIRE MALKOVICH', 'CUBA', 'OLIVIER'),
 ('FLYING HOOK', 'CUBA', 'OLIVIER'),
 ('FUGITIVE MAGUIRE', 'CUBA', 'OLIVIER'),
 ('HELLFIGHTERS SIERRA', 'CUBA', 'OLIVIER'),
 ('HYDE DOCTOR', 'CUBA', 'OLIVIER'),
 ('KISS GLORY', 'CUBA', 'OLIVIER'),
 ('KNOCK WARLOCK', 'CUBA', 'OLIVIER'),
 ('LUKE MUMMY', 'CUBA', 'OLIVIER'),
 ('MAKER GABLES', 'CUBA', 'OLIVIER'),
 ('MONTEZUMA COMMAND', 'CUBA', 'OLIVIER'),
 ('NOON PAPI', 'CUBA', 'OLIVIER'),
 ('OKLAHOMA JUMANJI', 'CUBA', 'OLIVIER'),
 ('ROSES TREASURE', 'CUBA', 'OLIVIER'),
 ('SHANE DARKNESS', 'CUBA', 'OLIVIER'),
 ('SIEGE MADRE', 'CUBA', 'OLIVIER'),
 ('SOLDIERS EVOLUTION', 'CUBA', 'OLIVIER'),
 ('THEORY MERMAID', 'CUBA', 'OLIVIER'),
 ('UNFORGIVEN ZOOLANDER', 'CUBA', 'OLIVIER'),
 ('VOLCANO TEXAS', 'CUBA', 'OLIVIER'),
 ('WEREWOLF LOLA', 'CUBA', 'OLIVIER'),
 ('WONDERLAND CHRISTMAS', 'CUBA', 'OLIVIER'),
 ('BLANKET BEVERLY', 'FRED', 'COSTNER'),
 ('BOONDOCK BALLROOM', 'FRED', 'COSTNER'),
 ('BROTHERHOOD BLANKET', 'FRED', 'COSTNER'),
 ('CAROL TEXAS', 'FRED', 'COSTNER'),
 ('CLEOPATRA DEVIL', 'FRED', 'COSTNER'),
 ('CONNECTICUT TRAMP', 'FRED', 'COSTNER'),
 ('DECEIVER BETRAYED', 'FRED', 'COSTNER'),
 ('DELIVERANCE MULHOLLAND', 'FRED', 'COSTNER'),
 ('EAGLES PANKY', 'FRED', 'COSTNER'),
 ('EARRING INSTINCT', 'FRED', 'COSTNER'),
 ('EASY GLADIATOR', 'FRED', 'COSTNER'),
 ('EMPIRE MALKOVICH', 'FRED', 'COSTNER'),
 ('ENTRAPMENT SATISFACTION', 'FRED', 'COSTNER'),
 ('GABLES METROPOLIS', 'FRED', 'COSTNER'),
 ('HUMAN GRAFFITI', 'FRED', 'COSTNER'),
 ('IMAGE PRINCESS', 'FRED', 'COSTNER'),
 ('IMPOSSIBLE PREJUDICE', 'FRED', 'COSTNER'),
 ('INCH JET', 'FRED', 'COSTNER'),
 ('KRAMER CHOCOLATE', 'FRED', 'COSTNER'),
 ('MAGNIFICENT CHITTY', 'FRED', 'COSTNER'),
 ('MIRACLE VIRTUAL', 'FRED', 'COSTNER'),
 ('MISSION ZOOLANDER', 'FRED', 'COSTNER'),
 ('REAR TRADING', 'FRED', 'COSTNER'),
 ('SAINTS BRIDE', 'FRED', 'COSTNER'),
 ('SENSE GREEK', 'FRED', 'COSTNER'),
 ('THEORY MERMAID', 'FRED', 'COSTNER'),
 ('WEEKEND PERSONAL', 'FRED', 'COSTNER'),
 ('BREAKING HOME', 'HELEN', 'VOIGHT'),
 ('CAPER MOTIONS', 'HELEN', 'VOIGHT'),
 ('CASPER DRAGONFLY', 'HELEN', 'VOIGHT'),
 ('CAT CONEHEADS', 'HELEN', 'VOIGHT'),
 ('CLASH FREDDY', 'HELEN', 'VOIGHT'),
 ('CUPBOARD SINNERS', 'HELEN', 'VOIGHT'),
 ('CYCLONE FAMILY', 'HELEN', 'VOIGHT'),
 ('DIVINE RESURRECTION', 'HELEN', 'VOIGHT'),
 ('EMPIRE MALKOVICH', 'HELEN', 'VOIGHT'),
 ('FEVER EMPIRE', 'HELEN', 'VOIGHT'),
 ('FIDELITY DEVIL', 'HELEN', 'VOIGHT'),
 ('GREATEST NORTH', 'HELEN', 'VOIGHT'),
 ('INDEPENDENCE HOTEL', 'HELEN', 'VOIGHT'),
 ('IRON MOON', 'HELEN', 'VOIGHT'),
 ('JAWS HARRY', 'HELEN', 'VOIGHT'),
 ('KISS GLORY', 'HELEN', 'VOIGHT'),
 ('LEGALLY SECRETARY', 'HELEN', 'VOIGHT'),
 ('LIES TREATMENT', 'HELEN', 'VOIGHT'),
 ('MICROCOSMOS PARADISE', 'HELEN', 'VOIGHT'),
 ('MOVIE SHAKESPEARE', 'HELEN', 'VOIGHT'),
 ('MUMMY CREATURES', 'HELEN', 'VOIGHT'),
 ('ROAD ROXANNE', 'HELEN', 'VOIGHT'),
 ('SCISSORHANDS SLUMS', 'HELEN', 'VOIGHT'),
 ('SIDE ARK', 'HELEN', 'VOIGHT'),
 ('SINNERS ATLANTIS', 'HELEN', 'VOIGHT'),
 ('STRANGER STRANGERS', 'HELEN', 'VOIGHT'),
 ('SWEETHEARTS SUSPECTS', 'HELEN', 'VOIGHT'),
 ('TADPOLE PARK', 'HELEN', 'VOIGHT'),
 ('TELEMARK HEARTBREAKERS', 'HELEN', 'VOIGHT'),
 ('VOICE PEACH', 'HELEN', 'VOIGHT'),
 ('WAR NOTTING', 'HELEN', 'VOIGHT'),
 ('WARLOCK WEREWOLF', 'HELEN', 'VOIGHT'),
 ('ATTACKS HATE', 'DAN', 'TORN'),
 ('BOILED DARES', 'DAN', 'TORN'),
 ('CHINATOWN GLADIATOR', 'DAN', 'TORN'),
 ('CONEHEADS SMOOCHY', 'DAN', 'TORN'),
 ('EARLY HOME', 'DAN', 'TORN'),
 ('ELIZABETH SHANE', 'DAN', 'TORN'),
 ('EMPIRE MALKOVICH', 'DAN', 'TORN'),
 ('FLASH WARS', 'DAN', 'TORN'),
 ('GUMP DATE', 'DAN', 'TORN'),
 ('INNOCENT USUAL', 'DAN', 'TORN'),
 ('INSIDER ARIZONA', 'DAN', 'TORN'),
 ('JERK PAYCHECK', 'DAN', 'TORN'),
 ('LOVELY JINGLE', 'DAN', 'TORN'),
 ('MASK PEACH', 'DAN', 'TORN'),
 ('MUSSOLINI SPOILERS', 'DAN', 'TORN'),
 ('REAR TRADING', 'DAN', 'TORN'),
 ('SLING LUKE', 'DAN', 'TORN'),
 ('STATE WASTELAND', 'DAN', 'TORN'),
 ('SUN CONFESSIONS', 'DAN', 'TORN'),
 ('TEQUILA PAST', 'DAN', 'TORN'),
 ('TUXEDO MILE', 'DAN', 'TORN'),
 ('VIRGIN DAISY', 'DAN', 'TORN'),
 ('ACE GOLDFINGER', 'BOB', 'FAWCETT'),
 ('ADAPTATION HOLES', 'BOB', 'FAWCETT'),
 ('CHINATOWN GLADIATOR', 'BOB', 'FAWCETT'),
 ('CIRCUS YOUTH', 'BOB', 'FAWCETT'),
 ('CONTROL ANTHEM', 'BOB', 'FAWCETT'),
 ('DARES PLUTO', 'BOB', 'FAWCETT'),
 ('DARN FORRESTER', 'BOB', 'FAWCETT'),
 ('DAZED PUNK', 'BOB', 'FAWCETT'),
 ('DYNAMITE TARZAN', 'BOB', 'FAWCETT'),
 ('HATE HANDICAP', 'BOB', 'FAWCETT'),
 ('HOMICIDE PEACH', 'BOB', 'FAWCETT'),
 ('JACKET FRISCO', 'BOB', 'FAWCETT'),
 ('JUMANJI BLADE', 'BOB', 'FAWCETT'),
 ('LAWLESS VISION', 'BOB', 'FAWCETT'),
 ('LEATHERNECKS DWARFS', 'BOB', 'FAWCETT'),
 ('OSCAR GOLD', 'BOB', 'FAWCETT'),
 ('PELICAN COMFORTS', 'BOB', 'FAWCETT'),
 ('PERSONAL LADYBUGS', 'BOB', 'FAWCETT'),
 ('RAGING AIRPLANE', 'BOB', 'FAWCETT'),
 ('RUN PACIFIC', 'BOB', 'FAWCETT'),
 ('RUNNER MADIGAN', 'BOB', 'FAWCETT'),
 ('SADDLE ANTITRUST', 'BOB', 'FAWCETT'),
 ('SCORPION APOLLO', 'BOB', 'FAWCETT'),
 ('SHAWSHANK BUBBLE', 'BOB', 'FAWCETT'),
 ('TAXI KICK', 'BOB', 'FAWCETT'),
 ('ACADEMY DINOSAUR', 'LUCILLE', 'TRACY'),
 ('BANGER PINOCCHIO', 'LUCILLE', 'TRACY'),
 ('BEDAZZLED MARRIED', 'LUCILLE', 'TRACY'),
 ('CHEAPER CLYDE', 'LUCILLE', 'TRACY'),

# Challenge 1 - Working with JSON files
Import the pandas library.

In [2]:
# your code here
import pandas as pd
film_actor =  pd.DataFrame(result)
film_actor

                          0         1        2
0          ACADEMY DINOSAUR  PENELOPE  GUINESS
1      ANACONDA CONFESSIONS  PENELOPE  GUINESS
2               ANGELS LIFE  PENELOPE  GUINESS
3     BULWORTH COMMANDMENTS  PENELOPE  GUINESS
4             CHEAPER CLYDE  PENELOPE  GUINESS
...                     ...       ...      ...
5457       TELEGRAPH VOYAGE     THORA   TEMPLE
5458        TROJAN TOMORROW     THORA   TEMPLE
5459        VIRGINIAN PLUTO     THORA   TEMPLE
5460       WARDROBE PHANTOM     THORA   TEMPLE
5461         WRONG BEHAVIOR     THORA   TEMPLE

[5462 rows x 3 columns]

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [7]:
# your code here
nasa = pd.read_json("nasa.json")
nasa

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [79.41667, 13...",24009,230.0,Tirupati,Valid,H6,13.63333,79.41667,1934-01-01T00:00:00.000
996,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-7.61123, 29...",54823,7000.0,Tissint,Valid,Martian (shergottite),29.48195,-7.61123,2011-01-01T00:00:00.000
997,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [111.53333, -...",24011,20000.0,Tjabe,Valid,H6,-7.08333,111.53333,1869-01-01T00:00:00.000
998,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [106.58333, -...",24012,16500.0,Tjerebon,Valid,L5,-6.66667,106.58333,1922-01-01T00:00:00.000
999,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [34.76667, 47...",24019,600.0,Tomakovka,Valid,LL6,47.85000,34.76667,1905-01-01T00:00:00.000

Now that we have loaded the data, let's examine it using the head() function.

In [8]:
# your code here
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [11]:
# your code here
nasa["fall"].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [12]:
# your code here
nasa.to_json("nasa-output.json")

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [21]:
#Your pandas import here:

shuttle = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst")
shuttle

          55 0 81 0 -6 11 25 88 64 4
0          56 0 96 0 52 -4 40 44 4 4
1         50 -1 89 -7 50 0 39 40 2 1
2         53 9 79 0 42 -2 25 37 12 4
3          55 2 82 0 54 -6 26 28 2 1
4          41 0 84 3 38 -4 43 45 2 1
...                              ...
14494  80 0 84 0 -36 -29 4 120 116 5
14495   55 0 81 0 -20 25 26 102 76 4
14496    55 0 77 0 12 -22 22 65 42 4
14497   37 0 103 0 18 -16 66 85 20 1
14498       56 2 98 0 52 1 42 46 4 4

[14499 rows x 1 columns]

In [23]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [25]:
# Your code here:

shuttle = pd.read_csv(tst_url, names= cols, sep=' ')

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1
...,...,...,...,...,...,...,...,...,...
80,0,84,0,-36,-29,4,120,116,5
55,0,81,0,-20,25,26,102,76,4
55,0,77,0,12,-22,22,65,42,4
37,0,103,0,18,-16,66,85,20,1
56,2,98,0,52,1,42,46,4,4

Let's verify that this worked by looking at the `head()` function.

In [26]:
# Your code here:
shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [27]:
# Your code here:
from sqlalchemy import false


shuttle.to_csv("shuttle.csv", index=false)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [28]:
# Your code here:
astronaut = pd.read_excel("astronauts.xls")

Use the `head()` function to inspect the dataframe.

In [32]:
# Your code here:

astronaut.head(2)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [34]:
# Your code here:

astronaut["Undergraduate Major"].value_counts().max()

35

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [36]:
# Your code here:
astronaut.to_csv("astronaut.csv", index=false)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [ ]:
# Your code here: