# Import and Export Files

# Challenge 0 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [43]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max.rows', None)

In [13]:
import mysql.connector
from getpass import getpass

In [14]:
# your code here
cnx = mysql.connector.connect(user = "root",
                             password = getpass(),
                             host = "localhost",
                             database = "sakila")

········

In [15]:
cnx.is_connected()

True

In [16]:
cursor = cnx.cursor()

In [75]:
query = ("""SELECT title, release_year, rental_duration FROM sakila.film WHERE release_year = 2006 AND rental_duration = 3;""")

cursor.execute(query)

results = cursor.fetchall()

In [76]:
results

[('ACE GOLDFINGER', 2006, 3),
 ('AGENT TRUMAN', 2006, 3),
 ('ALABAMA DEVIL', 2006, 3),
 ('ALONE TRIP', 2006, 3),
 ('AMERICAN CIRCUS', 2006, 3),
 ('ANACONDA CONFESSIONS', 2006, 3),
 ('ANGELS LIFE', 2006, 3),
 ('ANNIE IDENTITY', 2006, 3),
 ('ARIZONA BANG', 2006, 3),
 ('AUTUMN CROW', 2006, 3),
 ('BACKLASH UNDEFEATED', 2006, 3),
 ('BAKED CLEOPATRA', 2006, 3),
 ('BEAST HUNCHBACK', 2006, 3),
 ('BEHAVIOR RUNAWAY', 2006, 3),
 ('BEVERLY OUTLAW', 2006, 3),
 ('BILKO ANONYMOUS', 2006, 3),
 ('BLOOD ARGONAUTS', 2006, 3),
 ('BOULEVARD MOB', 2006, 3),
 ('BROTHERHOOD BLANKET', 2006, 3),
 ('BUTTERFLY CHOCOLAT', 2006, 3),
 ('CADDYSHACK JEDI', 2006, 3),
 ('CAMELOT VACATION', 2006, 3),
 ('CARIBBEAN LIBERTY', 2006, 3),
 ('CASPER DRAGONFLY', 2006, 3),
 ('CASUALTIES ENCINO', 2006, 3),
 ('CAUSE DATE', 2006, 3),
 ('CHANCE RESURRECTION', 2006, 3),
 ('CHARADE DUFFEL', 2006, 3),
 ('CHICKEN HELLFIGHTERS', 2006, 3),
 ('CHOCOLATE DUCK', 2006, 3),
 ('CLERKS ANGELS', 2006, 3),
 ('COMFORTS RUSH', 2006, 3),
 ('CONFUSED CANDLES', 2006, 3),
 ('CORE SUIT', 2006, 3),
 ('COWBOY DOOM', 2006, 3),
 ('CREATURES SHAKESPEARE', 2006, 3),
 ('CROWDS TELEMARK', 2006, 3),
 ('DANCES NONE', 2006, 3),
 ('DARKO DORADO', 2006, 3),
 ('DAUGHTER MADIGAN', 2006, 3),
 ('DAY UNFAITHFUL', 2006, 3),
 ('DESTINATION JERK', 2006, 3),
 ('DISCIPLE MOTHER', 2006, 3),
 ('DIVORCE SHINING', 2006, 3),
 ('DOORS PRESIDENT', 2006, 3),
 ('DOWNHILL ENOUGH', 2006, 3),
 ('DRUMLINE CYCLONE', 2006, 3),
 ('DUDE BLINDNESS', 2006, 3),
 ('EARRING INSTINCT', 2006, 3),
 ('EGYPT TENENBAUMS', 2006, 3),
 ('ENGLISH BULWORTH', 2006, 3),
 ('EXCITEMENT EVE', 2006, 3),
 ('EXPENDABLE STALLION', 2006, 3),
 ('FARGO GANDHI', 2006, 3),
 ('FEATHERS METAL', 2006, 3),
 ('FERRIS MOTHER', 2006, 3),
 ('FIGHT JAWBREAKER', 2006, 3),
 ('FLASH WARS', 2006, 3),
 ('FLINTSTONES HAPPINESS', 2006, 3),
 ('FOOL MOCKINGBIRD', 2006, 3),
 ('FURY MURDER', 2006, 3),
 ('GABLES METROPOLIS', 2006, 3),
 ('GARDEN ISLAND', 2006, 3),
 ('GO PURPLE', 2006, 3),
 ('GODFATHER DIARY', 2006, 3),
 ('GOLDFINGER SENSIBILITY', 2006, 3),
 ('GRAFFITI LOVE', 2006, 3),
 ('GRIT CLOCKWORK', 2006, 3),
 ('GUMP DATE', 2006, 3),
 ('GUNFIGHTER MUSSOLINI', 2006, 3),
 ('HARPER DYING', 2006, 3),
 ('HEARTBREAKERS BRIGHT', 2006, 3),
 ('HELLFIGHTERS SIERRA', 2006, 3),
 ('HIGH ENCINO', 2006, 3),
 ('HONEY TIES', 2006, 3),
 ('HOOSIERS BIRDCAGE', 2006, 3),
 ('HORROR REIGN', 2006, 3),
 ('HUMAN GRAFFITI', 2006, 3),
 ('HUSTLER PARTY', 2006, 3),
 ('IDAHO LOVE', 2006, 3),
 ('IMAGE PRINCESS', 2006, 3),
 ('INNOCENT USUAL', 2006, 3),
 ('INSECTS STONE', 2006, 3),
 ('INTENTIONS EMPIRE', 2006, 3),
 ('ITALIAN AFRICAN', 2006, 3),
 ('JEEPERS WEDDING', 2006, 3),
 ('JEOPARDY ENCINO', 2006, 3),
 ('JERICHO MULAN', 2006, 3),
 ('JERK PAYCHECK', 2006, 3),
 ('JOON NORTHWEST', 2006, 3),
 ('KICK SAVANNAH', 2006, 3),
 ('KING EVOLUTION', 2006, 3),
 ('KISSING DOLLS', 2006, 3),
 ('KRAMER CHOCOLATE', 2006, 3),
 ('LESSON CLEOPATRA', 2006, 3),
 ('LIBERTY MAGNIFICENT', 2006, 3),
 ('LONELY ELEPHANT', 2006, 3),
 ('LOSE INCH', 2006, 3),
 ('LOVELY JINGLE', 2006, 3),
 ('LOVER TRUMAN', 2006, 3),
 ('LUST LOCK', 2006, 3),
 ('MAGIC MALLRATS', 2006, 3),
 ('MAGNIFICENT CHITTY', 2006, 3),
 ('MAIDEN HOME', 2006, 3),
 ('MANNEQUIN WORST', 2006, 3),
 ('MEET CHOCOLATE', 2006, 3),
 ('MIDNIGHT WESTWARD', 2006, 3),
 ('MIDSUMMER GROUNDHOG', 2006, 3),
 ('MINDS TRUMAN', 2006, 3),
 ('MINE TITANS', 2006, 3),
 ('MIRACLE VIRTUAL', 2006, 3),
 ('MISSION ZOOLANDER', 2006, 3),
 ('MODERN DORADO', 2006, 3),
 ('MONEY HAROLD', 2006, 3),
 ('MOTHER OLEANDER', 2006, 3),
 ('MUMMY CREATURES', 2006, 3),
 ('NECKLACE OUTBREAK', 2006, 3),
 ('NEIGHBORS CHARADE', 2006, 3),
 ('NIGHTMARE CHILL', 2006, 3),
 ('NONE SPIKING', 2006, 3),
 ('ORIENT CLOSER', 2006, 3),
 ('PACIFIC AMISTAD', 2006, 3),
 ('PACKER MADIGAN', 2006, 3),
 ('PAJAMA JAWBREAKER', 2006, 3),
 ('PANIC CLUB', 2006, 3),
 ('PAPI NECKLACE', 2006, 3),
 ('PARK CITIZEN', 2006, 3),
 ('PATHS CONTROL', 2006, 3),
 ('PEACH INNOCENT', 2006, 3),
 ('PEARL DESTINY', 2006, 3),
 ('PERSONAL LADYBUGS', 2006, 3),
 ('PET HAUNTING', 2006, 3),
 ('PICKUP DRIVING', 2006, 3),
 ('POTLUCK MIXED', 2006, 3),
 ('PRINCESS GIANT', 2006, 3),
 ('PURE RUNNER', 2006, 3),
 ('RAINBOW SHOCK', 2006, 3),
 ('RANGE MOONWALKER', 2006, 3),
 ('REDEMPTION COMFORTS', 2006, 3),
 ('REIGN GENTLEMEN', 2006, 3),
 ('REUNION WITCHES', 2006, 3),
 ('RIDGEMONT SUBMARINE', 2006, 3),
 ('ROCKETEER MOTHER', 2006, 3),
 ('ROUGE SQUAD', 2006, 3),
 ('RUN PACIFIC', 2006, 3),
 ('RUSH GOODFELLAS', 2006, 3),
 ('SATISFACTION CONFIDENTIAL', 2006, 3),
 ('SATURDAY LAMBS', 2006, 3),
 ('SCARFACE BANG', 2006, 3),
 ('SCORPION APOLLO', 2006, 3),
 ('SEARCHERS WAIT', 2006, 3),
 ('SECRETS PARADISE', 2006, 3),
 ('SHOW LORD', 2006, 3),
 ('SIERRA DIVIDE', 2006, 3),
 ('SIMON NORTH', 2006, 3),
 ('SNOWMAN ROLLERCOASTER', 2006, 3),
 ('SONG HEDWIG', 2006, 3),
 ('SONS INTERVIEW', 2006, 3),
 ('SQUAD FISH', 2006, 3),
 ('STING PERSONAL', 2006, 3),
 ('STONE FIRE', 2006, 3),
 ('STRAIGHT HOURS', 2006, 3),
 ('STRANGER STRANGERS', 2006, 3),
 ('STRICTLY SCARFACE', 2006, 3),
 ('SUGAR WONKA', 2006, 3),
 ('SUIT WALLS', 2006, 3),
 ('SUNRISE LEAGUE', 2006, 3),
 ('SWEET BROTHERHOOD', 2006, 3),
 ('SWEETHEARTS SUSPECTS', 2006, 3),
 ('TARZAN VIDEOTAPE', 2006, 3),
 ('TEEN APOLLO', 2006, 3),
 ('TELEGRAPH VOYAGE', 2006, 3),
 ('TIES HUNGER', 2006, 3),
 ('TIMBERLAND SKY', 2006, 3),
 ('TITANIC BOONDOCK', 2006, 3),
 ('TOMORROW HUSTLER', 2006, 3),
 ('TOOTSIE PILOT', 2006, 3),
 ('TORQUE BOUND', 2006, 3),
 ('TRACY CIDER', 2006, 3),
 ('TRAIN BUNCH', 2006, 3),
 ('TRAP GUYS', 2006, 3),
 ('TREASURE COMMAND', 2006, 3),
 ('TREATMENT JEKYLL', 2006, 3),
 ('TROJAN TOMORROW', 2006, 3),
 ('TROOPERS METAL', 2006, 3),
 ('TURN STAR', 2006, 3),
 ('TUXEDO MILE', 2006, 3),
 ('TYCOON GATHERING', 2006, 3),
 ('UNBREAKABLE KARATE', 2006, 3),
 ('UNITED PILOT', 2006, 3),
 ('VALLEY PACKER', 2006, 3),
 ('VANISHING ROCKY', 2006, 3),
 ('VELVET TERMINATOR', 2006, 3),
 ('VIRTUAL SPOILERS', 2006, 3),
 ('WAIT CIDER', 2006, 3),
 ('WEDDING APOLLO', 2006, 3),
 ('WIFE TURN', 2006, 3),
 ('WINDOW SIDE', 2006, 3),
 ('WISDOM WORKER', 2006, 3),
 ('WONDERFUL DROP', 2006, 3),
 ('WORDS HUNTER', 2006, 3),
 ('WORLD LEATHERNECKS', 2006, 3),
 ('ZORRO ARK', 2006, 3)]

In [77]:
import pandas as pd

pd.DataFrame(results)

                             0     1  2
0               ACE GOLDFINGER  2006  3
1                 AGENT TRUMAN  2006  3
2                ALABAMA DEVIL  2006  3
3                   ALONE TRIP  2006  3
4              AMERICAN CIRCUS  2006  3
5         ANACONDA CONFESSIONS  2006  3
6                  ANGELS LIFE  2006  3
7               ANNIE IDENTITY  2006  3
8                 ARIZONA BANG  2006  3
9                  AUTUMN CROW  2006  3
10         BACKLASH UNDEFEATED  2006  3
11             BAKED CLEOPATRA  2006  3
12             BEAST HUNCHBACK  2006  3
13            BEHAVIOR RUNAWAY  2006  3
14              BEVERLY OUTLAW  2006  3
15             BILKO ANONYMOUS  2006  3
16             BLOOD ARGONAUTS  2006  3
17               BOULEVARD MOB  2006  3
18         BROTHERHOOD BLANKET  2006  3
19          BUTTERFLY CHOCOLAT  2006  3
20             CADDYSHACK JEDI  2006  3
21            CAMELOT VACATION  2006  3
22           CARIBBEAN LIBERTY  2006  3
23            CASPER DRAGONFLY  2006  3
24           CASUALTIES ENCINO  2006  3
25                  CAUSE DATE  2006  3
26         CHANCE RESURRECTION  2006  3
27              CHARADE DUFFEL  2006  3
28        CHICKEN HELLFIGHTERS  2006  3
29              CHOCOLATE DUCK  2006  3
30               CLERKS ANGELS  2006  3
31               COMFORTS RUSH  2006  3
32            CONFUSED CANDLES  2006  3
33                   CORE SUIT  2006  3
34                 COWBOY DOOM  2006  3
35       CREATURES SHAKESPEARE  2006  3
36             CROWDS TELEMARK  2006  3
37                 DANCES NONE  2006  3
38                DARKO DORADO  2006  3
39            DAUGHTER MADIGAN  2006  3
40              DAY UNFAITHFUL  2006  3
41            DESTINATION JERK  2006  3
42             DISCIPLE MOTHER  2006  3
43             DIVORCE SHINING  2006  3
44             DOORS PRESIDENT  2006  3
45             DOWNHILL ENOUGH  2006  3
46            DRUMLINE CYCLONE  2006  3
47              DUDE BLINDNESS  2006  3
48            EARRING INSTINCT  2006  3
49            EGYPT TENENBAUMS  2006  3
50            ENGLISH BULWORTH  2006  3
51              EXCITEMENT EVE  2006  3
52         EXPENDABLE STALLION  2006  3
53                FARGO GANDHI  2006  3
54              FEATHERS METAL  2006  3
55               FERRIS MOTHER  2006  3
56            FIGHT JAWBREAKER  2006  3
57                  FLASH WARS  2006  3
58       FLINTSTONES HAPPINESS  2006  3
59            FOOL MOCKINGBIRD  2006  3
60                 FURY MURDER  2006  3
61           GABLES METROPOLIS  2006  3
62               GARDEN ISLAND  2006  3
63                   GO PURPLE  2006  3
64             GODFATHER DIARY  2006  3
65      GOLDFINGER SENSIBILITY  2006  3
66               GRAFFITI LOVE  2006  3
67              GRIT CLOCKWORK  2006  3
68                   GUMP DATE  2006  3
69        GUNFIGHTER MUSSOLINI  2006  3
70                HARPER DYING  2006  3
71        HEARTBREAKERS BRIGHT  2006  3
72         HELLFIGHTERS SIERRA  2006  3
73                 HIGH ENCINO  2006  3
74                  HONEY TIES  2006  3
75           HOOSIERS BIRDCAGE  2006  3
76                HORROR REIGN  2006  3
77              HUMAN GRAFFITI  2006  3
78               HUSTLER PARTY  2006  3
79                  IDAHO LOVE  2006  3
80              IMAGE PRINCESS  2006  3
81              INNOCENT USUAL  2006  3
82               INSECTS STONE  2006  3
83           INTENTIONS EMPIRE  2006  3
84             ITALIAN AFRICAN  2006  3
85             JEEPERS WEDDING  2006  3
86             JEOPARDY ENCINO  2006  3
87               JERICHO MULAN  2006  3
88               JERK PAYCHECK  2006  3
89              JOON NORTHWEST  2006  3
90               KICK SAVANNAH  2006  3
91              KING EVOLUTION  2006  3
92               KISSING DOLLS  2006  3
93            KRAMER CHOCOLATE  2006  3
94            LESSON CLEOPATRA  2006  3
95         LIBERTY MAGNIFICENT  2006  3
96             LONELY ELEPHANT  2006  3
97                   LOSE INCH  2006  3
98               LOVELY JINGLE  2006  3
99                LOVER TRUMAN  2006  3
100                  LUST LOCK  2006  3
101             MAGIC MALLRATS  2006  3
102         MAGNIFICENT CHITTY  2006  3
103                MAIDEN HOME  2006  3
104            MANNEQUIN WORST  2006  3
105             MEET CHOCOLATE  2006  3
106          MIDNIGHT WESTWARD  2006  3
107        MIDSUMMER GROUNDHOG  2006  3
108               MINDS TRUMAN  2006  3
109                MINE TITANS  2006  3
110            MIRACLE VIRTUAL  2006  3
111          MISSION ZOOLANDER  2006  3
112              MODERN DORADO  2006  3
113               MONEY HAROLD  2006  3
114            MOTHER OLEANDER  2006  3
115            MUMMY CREATURES  2006  3
116          NECKLACE OUTBREAK  2006  3
117          NEIGHBORS CHARADE  2006  3
118            NIGHTMARE CHILL  2006  3
119               NONE SPIKING  2006  3
120              ORIENT CLOSER  2006  3
121            PACIFIC AMISTAD  2006  3
122             PACKER MADIGAN  2006  3
123          PAJAMA JAWBREAKER  2006  3
124                 PANIC CLUB  2006  3
125              PAPI NECKLACE  2006  3
126               PARK CITIZEN  2006  3
127              PATHS CONTROL  2006  3
128             PEACH INNOCENT  2006  3
129              PEARL DESTINY  2006  3
130          PERSONAL LADYBUGS  2006  3
131               PET HAUNTING  2006  3
132             PICKUP DRIVING  2006  3
133              POTLUCK MIXED  2006  3
134             PRINCESS GIANT  2006  3
135                PURE RUNNER  2006  3
136              RAINBOW SHOCK  2006  3
137           RANGE MOONWALKER  2006  3
138        REDEMPTION COMFORTS  2006  3
139            REIGN GENTLEMEN  2006  3
140            REUNION WITCHES  2006  3
141        RIDGEMONT SUBMARINE  2006  3
142           ROCKETEER MOTHER  2006  3
143                ROUGE SQUAD  2006  3
144                RUN PACIFIC  2006  3
145            RUSH GOODFELLAS  2006  3
146  SATISFACTION CONFIDENTIAL  2006  3
147             SATURDAY LAMBS  2006  3
148              SCARFACE BANG  2006  3
149            SCORPION APOLLO  2006  3
150             SEARCHERS WAIT  2006  3
151           SECRETS PARADISE  2006  3
152                  SHOW LORD  2006  3
153              SIERRA DIVIDE  2006  3
154                SIMON NORTH  2006  3
155      SNOWMAN ROLLERCOASTER  2006  3
156                SONG HEDWIG  2006  3
157             SONS INTERVIEW  2006  3
158                 SQUAD FISH  2006  3
159             STING PERSONAL  2006  3
160                 STONE FIRE  2006  3
161             STRAIGHT HOURS  2006  3
162         STRANGER STRANGERS  2006  3
163          STRICTLY SCARFACE  2006  3
164                SUGAR WONKA  2006  3
165                 SUIT WALLS  2006  3
166             SUNRISE LEAGUE  2006  3
167          SWEET BROTHERHOOD  2006  3
168       SWEETHEARTS SUSPECTS  2006  3
169           TARZAN VIDEOTAPE  2006  3
170                TEEN APOLLO  2006  3
171           TELEGRAPH VOYAGE  2006  3
172                TIES HUNGER  2006  3
173             TIMBERLAND SKY  2006  3
174           TITANIC BOONDOCK  2006  3
175           TOMORROW HUSTLER  2006  3
176              TOOTSIE PILOT  2006  3
177               TORQUE BOUND  2006  3
178                TRACY CIDER  2006  3
179                TRAIN BUNCH  2006  3
180                  TRAP GUYS  2006  3
181           TREASURE COMMAND  2006  3
182           TREATMENT JEKYLL  2006  3
183            TROJAN TOMORROW  2006  3
184             TROOPERS METAL  2006  3
185                  TURN STAR  2006  3
186                TUXEDO MILE  2006  3
187           TYCOON GATHERING  2006  3
188         UNBREAKABLE KARATE  2006  3
189               UNITED PILOT  2006  3
190              VALLEY PACKER  2006  3
191            VANISHING ROCKY  2006  3
192          VELVET TERMINATOR  2006  3
193           VIRTUAL SPOILERS  2006  3
194                 WAIT CIDER  2006  3
195             WEDDING APOLLO  2006  3
196                  WIFE TURN  2006  3
197                WINDOW SIDE  2006  3
198              WISDOM WORKER  2006  3
199             WONDERFUL DROP  2006  3
200               WORDS HUNTER  2006  3
201         WORLD LEATHERNECKS  2006  3
202                  ZORRO ARK  2006  3

# Challenge 1 - Working with JSON files
Import the pandas library.

In [1]:
# your code here
import pandas as pd
import numpy as np

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [20]:
# your code here
nasa = pd.read_json("nasa.json", orient = "records")

nasa

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [79.41667, 13...",24009,230.0,Tirupati,Valid,H6,13.63333,79.41667,1934-01-01T00:00:00.000
996,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-7.61123, 29...",54823,7000.0,Tissint,Valid,Martian (shergottite),29.48195,-7.61123,2011-01-01T00:00:00.000
997,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [111.53333, -...",24011,20000.0,Tjabe,Valid,H6,-7.08333,111.53333,1869-01-01T00:00:00.000
998,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [106.58333, -...",24012,16500.0,Tjerebon,Valid,L5,-6.66667,106.58333,1922-01-01T00:00:00.000
999,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [34.76667, 47...",24019,600.0,Tomakovka,Valid,LL6,47.85000,34.76667,1905-01-01T00:00:00.000

Now that we have loaded the data, let's examine it using the head() function.

In [21]:
# your code here
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [22]:
# your code here
nasa["fall"].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [23]:
# your code here
nasa.to_json('new nasa.json')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [10]:
#Your pandas import here:

import pandas as pd
import numpy as np

In [28]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [36]:
# Your code here:

shuttle = pd.read_csv(tst_url,sep=' ', names=cols)

shuttle

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1
...,...,...,...,...,...,...,...,...,...
80,0,84,0,-36,-29,4,120,116,5
55,0,81,0,-20,25,26,102,76,4
55,0,77,0,12,-22,22,65,42,4
37,0,103,0,18,-16,66,85,20,1
56,2,98,0,52,1,42,46,4,4

Let's verify that this worked by looking at the `head()` function.

In [37]:
# Your code here:

shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [38]:
# Your code here:

shuttle.to_csv("shuttle.csv", sep = ",")

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [40]:
# Your code here:

astronaut = pd.read_excel("astronauts.xls")

astronaut

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,David A. Wolf,1990.0,13.0,Retired,1956-08-23,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaT,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,1962-07-26,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaT,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,1932-02-07,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaT,NaN
355,John W. Young,1962.0,2.0,Retired,1930-09-24,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaT,NaN
356,George D. Zamka,1998.0,17.0,Retired,1962-06-29,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaT,NaN

Use the `head()` function to inspect the dataframe.

In [41]:
# Your code here:

astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [44]:
# Your code here:

astronaut["Undergraduate Major"].value_counts()

Physics                                                                35
Aerospace Engineering                                                  33
Mechanical Engineering                                                 30
Aeronautical Engineering                                               28
Electrical Engineering                                                 23
Engineering Science                                                    13
Engineering                                                            12
Mathematics                                                            11
Chemistry                                                              10
Chemical Engineering                                                    9
Naval Sciences                                                          9
Astronautical Engineering                                               8
Aeronautical & Astronautical Engineering                                6
Civil Engineering                                                       5
Mathematics & Physics                                                   5
Biology                                                                 5
Geology                                                                 5
Physics & Astronomy                                                     4
Applied Science & Engineering                                           4
Aeronautics & Astronautics                                              3
Computer Science                                                        3
Engineering Physics                                                     3
Applied Mathematics                                                     3
Education                                                               2
Chemistry & Biology                                                     2
Engineering Management                                                  2
Ocean Engineering                                                       2
Biological Science                                                      2
Physics & Mathematics                                                   2
Zoology                                                                 2
Engineering Mechanics                                                   2
Physics & Engineering                                                   1
Mathematical & Electrical Science                                       1
Electrical Engineering; Computer Science                                1
Computer & Systems Engineering                                          1
Physical Science                                                        1
Metallurgical Engineering                                               1
Electronics Engineering                                                 1
Industrial Management                                                   1
Space Physics                                                           1
Earth Sciences                                                          1
Human Biology                                                           1
Military Engineering                                                    1
Earth & Planetary Science                                               1
Ecological Science                                                      1
Physiology                                                              1
Mathematics & Statistics; Chemistry                                     1
Biology & Psychology                                                    1
Mathematics; Russian                                                    1
Geosciences                                                             1
Music                                                                   1
Economics                                                               1
Physics; English                                                        1
Mechanical & Aeronautical Engineering                                   1
Molecular Biology                                                       1
Industrial Engineering                                                  1
Psychology                                                              1
Systems Engineering                                                     1
Animal Science                                                          1
Nuclear Engineering                                                     1
Accounting                                                              1
Physics & Mechanical Engineering                                        1
Electrical Science                                                      1
Business Management; Aeronautical Engineering                           1
Biochemistry                                                            1
Aerospace Engineering & Mechanics                                       1
Mathematics & Economics                                                 1
Applied Biology; Mechanical Engineering                                 1
Chemistry; Physiological Optics                                         1
Physics & Astronautical Engineering                                     1
Ceramic Engineering                                                     1
Astronautics                                                            1
Animal Nutrition                                                        1
Solid Earth Sciences                                                    1
Aeronautics & Astronautics; Earth, Atmospheric & Planetary Sciences     1
Business Economics                                                      1
Engineering Sciences; Astronautics & Mathematics                        1
Business Finance                                                        1
Astronomy                                                               1
Marine Engineering & Nautical Science                                   1
Philosophy                                                              1
Bioscience                                                              1
Military Science                                                        1
Name: Undergraduate Major, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [54]:
# Your code here:

astronaut.to_csv("astronaut.csv", sep = " ", index=False)

In [58]:
pd.read_csv("astronaut.csv", sep = " ")

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,1955-08-04,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,1937-06-27,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
7,Scott D. Altman,1995.0,15.0,Retired,1959-08-15,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,1933-10-17,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
9,Clayton C. Anderson,1998.0,17.0,Retired,1959-02-23,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,NaN,NaN,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaN,NaN
10,Michael P. Anderson,1995.0,15.0,Deceased,1959-12-25,"Plattsburgh, NY",Male,University of Washington; Creighton University,Physics & Astronomy,Physics,Lieutenant Colonel,US Air Force,2,594,0,0.0,"STS-89 (Endeavor), STS-107 (Columbia)",2003-02-01,STS-107 (Columbia)
11,Dominic A. Antonelli,2000.0,18.0,Active,1967-08-23,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaN,NaN
12,Jerome Apt III,1985.0,11.0,Retired,1949-04-18,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
13,Lee J. Archambault,1998.0,17.0,Retired,1960-08-25,"Oak Park, IL",Male,University of Illinois-Urbana,Aeronautical & Astronautical Engineering,Aeronautical & Astronautical Engineering,Colonel,US Air Force,2,639,0,0.0,"STS-117 (Atlantis), STS-119 (Discovery)",NaN,NaN
14,Neil A. Armstrong,1962.0,2.0,Deceased,1930-08-05,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",2012-08-25,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,1963-11-26,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaN,NaN
16,Jeffrey S. Ashby,1995.0,15.0,Retired,1954-06-01,"Dallas, TX",Male,University of Idaho; University of Tennessee,Mechanical Engineering,Aviation Systems,Captain,US Navy (Retired),3,655,0,0.0,"STS-93 (Columbia), STS-100 (Endeavor), STS-112...",NaN,NaN
17,Serena M. Aunon,2009.0,20.0,Active,1976-04-09,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
18,James P. Bagian,1980.0,9.0,Retired,1952-02-22,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,1953-04-27,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985.0,11.0,Management,1953-10-27,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
21,Michael R. Barratt,2000.0,18.0,Active,1959-04-16,"Vancouver, WA",Male,University of Washington; Northwestern Univers...,Zoology,Medicine; Aerospace Medicine,NaN,NaN,2,5075,1,5.0,"ISS-19/20 (Soyuz), STS-133 (Discovery)",NaN,NaN
22,Daniel T. Barry,1992.0,14.0,Retired,1953-12-30,"Norwalk, CT",Male,Cornell University; Princeton University; Univ...,Electrical Engineering,Electrical Engineering; Computer Science; Medi...,NaN,NaN,3,733,4,26.0,"STS-72 (Endeavor), STS-96 (Discovery), STS-105...",NaN,NaN
23,John-David F. Bartoe,NaN,NaN,Retired,1944-11-17,"Abington, PA",Male,Lehigh University; Georgetown University,Physics,Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
24,Charles A. Bassett II,1963.0,3.0,Deceased,1931-12-30,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,1966-02-28,NaN
25,Alan L. Bean,1963.0,3.0,Retired,1932-03-15,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
26,Robert L. Behnken,2000.0,18.0,Active,1970-07-28,"Creve Couer, MO",Male,Washington University; California Institute of...,Physics & Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force,2,708,6,37.0,"STS-123 (Endeavor), STS-130 (Endeavor)",NaN,NaN
27,John E. Blaha,1980.0,9.0,Retired,1942-08-26,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
28,Michael J. Bloomfield,1995.0,15.0,Retired,1959-03-16,"Flint, MI",Male,US Air Force Academy; Old Dominion University,Engineering Mechanics,Engineering Management,Colonel,US Air Force (Retired),3,779,0,0.0,"STS-86 (Atlantis), STS-97 (Endeavor), STS-110 ...",NaN,NaN
29,Guion S. Bluford Jr.,1978.0,8.0,Retired,1942-11-22,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
30,Karol J. Bobko,1969.0,7.0,Retired,1937-12-23,"New York, NY",Male,US Air Force Academy; University of Southern C...,NaN,Aerospace Engineering,Colonel,US Air Force (Retired),3,386,0,0.0,"STS-6 (Challenger), STS 51-D (Discovery), STS-...",NaN,NaN
31,Eric A. Boe,2000.0,18.0,Active,1964-10-01,"Miami, FL",Male,US Air Force Academy; Georgia Institute of Tec...,Aeronautical Engineering,Electrical Engineering,Colonel,US Air Force,2,687,0,0.0,"STS-126 (Endeavor), STS-133 (Discovery)",NaN,NaN
32,Charles F. Bolden Jr.,1980.0,9.0,Management,1946-08-19,"Columbia, SC",Male,US Naval Academy; University of Southern Calif...,Electrical Science,Systems Management,Major General,US Marine Corps (Retired),4,680,0,0.0,"STS-61C (Columbia), STS-31 (Discovery), STS-45...",NaN,NaN
33,Frank Borman,1962.0,2.0,Retired,1928-03-14,"Gary, IN",Male,US Military Academy; California Institute of T...,NaN,Aeronautical Engineering,Colonel,US Air Force (Retired),2,477,0,0.0,"Gemini 7, Apollo 8",NaN,NaN
34,Stephen G. Bowen,2000.0,18.0,Active,1964-02-13,"Cohasset, MA",Male,US Naval Academy; MIT,Electrical Engineering,Ocean Engineering,Captain,US Navy,3,970,7,47.0,"STS-126 (Endeavor), STS-132 (Atlantis), STS-13...",NaN,NaN
35,Kenneth D. Bowersox,1987.0,12.0,Retired,1956-11-14,"Portsmouth, VA",Male,US Naval Academy; Columbia University,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),5,5078,2,13.0,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (...",NaN,NaN
36,Charles E. Brady Jr.,1992.0,14.0,Deceased,1951-08-12,"Pinehurst, NC",Male,University of North Carolina at Chapel Hill; D...,NaN,Medicine,Captain,US Navy,1,405,0,0.0,STS-78 (Columbia),2006-07-23,NaN
37,Vance D. Brand,1966.0,5.0,Retired,1931-05-09,"Longmont, CA",Male,University of Colorado; University of Californ...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",NaN,NaN
38,Daniel C. Brandenstein,1978.0,8.0,Retired,1943-01-17,"Watertown, WI",Male,University of Wisconsin,Mathematics & Physics,NaN,Captain,US Navy (Retired),4,789,0,0.0,"STS-8 (Challenger), STS 51-G (Discovery), STS-...",NaN,NaN
39,Randolph J. Bresnik,2004.0,19.0,Active,1967-09-11,"Fort Knox, KY",Male,The Citadel; University of Tennessee-Knoxville,Mathematics,Aviation Systems,Colonel,US Marine Corps,1,259,2,12.0,STS-129 (Atlantis),NaN,NaN
40,Roy D. Bridges Jr.,1980.0,9.0,Retired,1943-07-19,"Atlanta, GA",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautics,Major General,US Air Force (Retired),1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
41,Curtis L. Brown Jr.,1987.0,12.0,Retired,1956-03-11,"Elizabethtown, NC",Male,US Air Force Academy,Electrical Engineering,NaN,Colonel,US Air Force (Retired),6,1383,0,0.0,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (...",NaN,NaN
42,David M. Brown,1996.0,16.0,Deceased,1956-04-16,"Arlington, VA",Male,College of William & Mary; Eastern Virginia Me...,Biology,Medicine,Captain,US Navy,1,382,0,0.0,STS-107 (Columbia),2003-02-01,STS-107 (Columbia)
43,Mark N. Brown,1984.0,10.0,Retired,1951-11-18,"Valparaiso, IN",Male,Purdue University; Air Force Institute of Tech...,Aeronautical & Astronautical Engineering,Astronautical Engineering,Colonel,US Air Force (Retired),2,249,0,0.0,"STS 28 (Columbia), STS-48 (Discovery)",NaN,NaN
44,James F. Buchli,1978.0,8.0,Retired,1945-06-20,"New Rockford, ND",Male,US Naval Academy; University of West Florida,Aeronautical Engineering,Aeronautical Engineering Systems,Colonel,US Marine Corps (Retired),4,490,0,0.0,"STS 51-C (Discovery), STS 61-A (Challenger), S...",NaN,NaN
45,Jay Clark Buckey,NaN,NaN,Retired,1956-06-06,"New York, NY",Male,Cornell University,Electrical Engineering,Medicine,NaN,NaN,1,381,0,0.0,STS-90 (Columbia),NaN,NaN
46,John S. Bull,1966.0,5.0,Deceased,1934-09-25,"Memphis, TN",Male,Rice University; Stanford University,Mechanical Engineering,Aeronautical Engineering,NaN,NaN,0,0,0,0.0,NaN,2008-08-11,NaN
47,Daniel C. Burbank,1996.0,16.0,Active,1961-07-27,"Machester, CT",Male,US Coast Guard Academy; Embry-Riddle Aeronauti...,Electrical Engineering,Aeronautical Science,Captain,US Coast Guard (Retired),3,4512,1,7.0,"STS-106 (Atlantis), STS-115 (Atlantis), ISS-29...",NaN,NaN
48,Daniel W. Bursch,1990.0,13.0,Retired,1957-07-25,"Bristol, PA",Male,US Naval Academy; US Naval Postgraduate School,Physics,Engineering Science,Captain,US Navy (Retired),4,5446,2,12.0,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ...",NaN,NaN
49,Robert D. Cabana,1985.0,11.0,Management,1949-01-23,"Minneapolis, MN",Male,US Naval Academy,Mathematics,NaN,Colonel,US Marine Corps (Retired),4,910,0,0.0,"STS-41 (Discovery), STS-53 (Discovery), STS-65...",NaN,NaN
50,Yvonne D. Cagle,1996.0,16.0,Management,1959-04-24,"West Point, NY",Female,San Francisco State University,Biochemistry,NaN,Colonel,US Air Force,0,0,0,0.0,NaN,NaN,NaN
51,Fernando Caldeiro,1996.0,16.0,Deceased,1958-06-12,"Buenos Aires, Argentina",Male,University of Arizona; University of Central F...,Mechanical Engineering,Engineering Management,NaN,NaN,0,0,0,0.0,NaN,2009-10-03,NaN
52,Tracy E. Caldwell (Dyson),1998.0,17.0,Active,1969-08-14,"Arcadia, CA",Female,California State University-Fullerton; Univers...,Chemistry,Physical Chemistry,NaN,NaN,2,4531,3,23.0,"STS-118 (Endeavor), ISS-23/24 (Soyuz)",NaN,NaN
53,Charles J. Camarda,1996.0,16.0,Management,1952-05-08,"Queens, NY",Male,Polytechnic Institute of Brooklyn; George Wash...,Aerospace Engineering,Engineering Science; Aerospace Engineering,NaN,NaN,1,333,0,0.0,STS-114 (Discovery),NaN,NaN
54,Kenneth D. Cameron,1984.0,10.0,Retired,1949-11-29,"Cleveland, OH",Male,MIT; Michigan State University,Aeronautics & Astronautics,Aeronautics & Astronautics; Business Administr...,Colonel,US Marine Corps (Retired),3,562,0,0.0,"STS-37 (Atlantis), STS-56 (Discovery), STS-74 ...",NaN,NaN
55,Duane G. Carey,1996.0,16.0,Retired,1957-04-30,"St. Paul, MN",Male,University of Minnesota-Minneapolis,Aerospace Engineering & Mechanics,Aerospace Engineering,Lieutenant Colonel,US Air Force (Retired),1,262,0,0.0,STS-109 (Columbia),NaN,NaN
56,M. Scott Carpenter,1959.0,1.0,Retired,1925-05-01,"Boulder, CO",Male,University of Colorado,Aeronautical Engineering,NaN,Commander,US Navy (Retired),1,4,0,0.0,Mercury 7,NaN,NaN
57,Gerald P. Carr,1966.0,5.0,Retired,1932-08-22,"Denver, CO",Male,University of Southern California; US Naval Po...,Mechanical Engineering,Aeronautical Engineering,Colonel,US Marine Corps (Retired),1,2017,3,16.0,Skylab 4,NaN,NaN
58,Manley Lanier Carter Jr.,1984.0,10.0,Deceased,1947-08-15,"Macon, GA",Male,Emory University,Chemistry,Medicine,Captain,US Navy,1,120,0,0.0,STS-33 (Discovery),1991-04-05,NaN
59,John H. Casper,1984.0,10.0,Management,1943-07-09,"Greenville, SC",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautics,Colonel,US Air Force (Retired),4,825,0,0.0,"STS-36 (Atlantis), STS-54 (Endeavor), STS-62 (...",NaN,NaN
60,Christopher J. Cassidy,2004.0,19.0,Active,1970-01-04,"Salem, MA",Male,US Naval Academy; MIT,Mathematics,Ocean Engineering,Commander,US Navy,1,4376,6,31.0,STS-127 (Endeavor); ISS-35/36 (Soyuz),NaN,NaN
61,Robert Cenker,NaN,NaN,Retired,1948-11-05,"Uniontown, PA",Male,Pennsylvania State University; Rutgers University,Aerospace Engineering,Aerospace Engineering; Electrical Engineering,NaN,NaN,1,146,0,0.0,STS 61-C (Columbia),NaN,NaN
62,Eugene A. Cernan,1963.0,3.0,Retired,1934-03-14,"Chicago, IL",Male,Purdue University; US Naval Postgraduate School,Electrical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),3,566,4,24.0,"Gemini 9, Apollo 10, Apollo 17",NaN,NaN
63,Roger B. Chaffee,1963.0,3.0,Deceased,1935-02-15,"Grand Rapids, MI",Male,Purdue University,Aeronautical Engineering,NaN,Lieutenant Commander,US Navy,1,0,0,0.0,Apollo 1,1967-01-27,Apollo 1
64,Gregory E. Chamitoff,1998.0,17.0,Active,1962-08-06,"Montreal, Canada",Male,California Polytechnic State University; Calif...,Electrical Engineering,Aeronautical Engineering; Aeronautics & Astron...,NaN,NaN,2,4770,2,13.0,"STS-124/126 (Discovery/Endeavor), STS-134 (End...",NaN,NaN
65,Franklin R. Chang-Diaz,1980.0,9.0,Retired,1950-04-05,"San Jose, Costa Rica",Male,University of Connecticut; MIT,Mechanical Engineering,Applied Plasma Physics,NaN,NaN,7,1602,3,19.0,"STS 61-C (Columbia), STS-34 (Atlantis), STS-46...",NaN,NaN
66,Philip K. Chapman,1967.0,6.0,Retired,1935-03-05,"Melbourne, Australia",Male,University of Sydney; MIT,Physics & Mathematics,Aeronautics & Astronautics; Instrumentation,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
67,Kalpana Chawla,1995.0,15.0,Deceased,1961-06-01,"Karnal, India",Female,Punjab Engineering College; University of Texa...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,734,0,0.0,"STS-87 (Columbia), STS-107 (Columbia)",2003-02-01,STS-107 (Columbia)
68,Leroy Chiao,1990.0,13.0,Retired,1960-08-28,"Milwaukee, WI",Male,University of California-Berkeley; University ...,Chemical Engineering,Chemical Engineering,NaN,NaN,4,5503,6,36.0,"STS-65 (Columbia), STS-72 (Endeavor), STS-92 (...",NaN,NaN
69,Kevin P. Chilton,1987.0,12.0,Retired,1954-03-11,"Los Angeles, CA",Male,US Air Force Academy; Columbia University,Engineering Science,Mechanical Engineering,Brigadier General,US Air Force (Retired),3,700,0,0.0,"STS-49 (Endeavor), STS-59 (Endeavor), STS-76 (...",NaN,NaN
70,Laurel B. Clark,1996.0,16.0,Deceased,1961-03-10,"Ames, IA",Female,University of Wisconsin-Madison,Zoology,Medicine,Captain,US Navy,1,382,0,0.0,STS-107 (Columbia),2003-02-01,STS-107 (Columbia)
71,Mary L. Cleave,1980.0,9.0,Retired,1947-02-05,"Southampton, NY",Female,Colorado State University; Utah State University,Biological Science,Microbial Ecology; Environmental Engineering,NaN,NaN,2,262,0,0.0,"STS 61-B (Atlantis), STS-30 (Atlantis)",NaN,NaN
72,Michael R. Clifford,1990.0,13.0,Retired,1952-10-13,"San Bernardino, CA",Male,US Military Academy; Georgia Institute of Tech...,NaN,Aerospace Engineering,Lieutenant Colonel,US Army (Retired),3,666,1,6.0,"STS-53 (Discovery), STS-59 (Endeavor), STS-76 ...",NaN,NaN
73,Michael L. Coats,1978.0,8.0,Retired,1946-01-16,"Sacramento, CA",Male,US Naval Academy; George Washington University...,NaN,Science & Technology Administration; Aeronauti...,Captain,US Navy (Retired),3,463,0,0.0,"STS 41-D (Discovery), STS-29 (Discovery), STS-...",NaN,NaN
74,Kenneth D. Cockrell,1990.0,13.0,Management,1950-04-09,"Austin, TX",Male,University of Texas; University of West Florida,Mechanical Engineering,Aeronautical Systems,NaN,US Naval Reserves,5,1548,0,0.0,"STS-56 (Discovery), STS-69 (Endeavor), STS-80 ...",NaN,NaN
75,Catherine G. Coleman,1992.0,14.0,Active,1960-12-14,"Charleston, SC",Female,MIT; University of Massachusetts,Chemistry,Polymer Science & Engineering,Colonel,US Air Force (Retired),3,4324,0,0.0,"STS-73 (Columbia), STS-93 (Columbia), ISS-26/2...",NaN,NaN
76,Eileen M. Collins,1990.0,13.0,Retired,1959-11-19,"Elmira, NY",Female,Syracuse University; Stanford University; Webs...,Mathematics & Economics,Operations Research; Space Systems Management,Colonel,US Air Force (Retired),4,890,0,0.0,"STS-63 (Discovery), STS-84 (Atlantis), STS-114...",NaN,NaN
77,Michael Collins,1963.0,3.0,Retired,1930-10-31,"Rome, Italy",Male,US Military Academy,NaN,NaN,NaN,US Air Force Reserves,2,266,1,1.0,"Gemini 10, Apollo 11",NaN,NaN
78,Charles Conrad Jr.,1962.0,2.0,Deceased,1930-05-02,"Philadelphia, PA",Male,Princeton University,Aeronautical Engineering,NaN,Captain,US Navy (Retired),4,1179,4,12.0,"Gemini 5, Gemini 11, Apollo 12, Skylab 2",1999-07-08,NaN
79,L. Gordon Cooper Jr.,1959.0,1.0,Deceased,1927-03-06,"Shawnee, OK",Male,Air Force Institute of Technology,Aeronautical Engineering,NaN,Colonel,US Air Force (Retired),2,225,0,0.0,"Mercury 9, Gemini 5",2004-10-04,NaN
80,Richard O. Covey,1978.0,8.0,Retired,1946-08-01,"Fayetteville, AR",Male,US Air Force Academy; Purdue University,Engineering Science,Aeronautics & Astronautics,Colonel,US Air Force (Retired),4,645,0,0.0,"STS 51-l (Discovery), STS-26 (Discovery), STS-...",NaN,NaN
81,Timothy J. Creamer,1998.0,17.0,Management,1959-11-15,"Ft. Huachuca, AZ",Male,Loyola College; MIT,Chemistry,Physics,Colonel,US Army (Retired),1,3917,0,0.0,ISS-22/23 (Soyuz),NaN,NaN
82,John O. Creighton,1978.0,8.0,Retired,1943-04-28,"Orange, TX",Male,US Naval Academy; George Washington University,NaN,Science & Technology Administration,Captain,US Navy (Retired),3,404,0,0.0,"STS 51-G (Discovery), STS-36 (Atlantis), STS-4...",NaN,NaN
83,Robert L. Crippen,1969.0,7.0,Retired,1937-09-11,"Beaumont, TX",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,565,0,0.0,"STS-1 (Columbia), STS-7 (Challenger), STS 41-C...",NaN,NaN
84,Roger K. Crouch,NaN,NaN,Retired,1940-09-12,"Jamestown, TN",Male,Tennessee Polytechnic Institute; Virginia Poly...,Physics,Physics,NaN,NaN,1,471,0,0.0,"STS-83 (Columbia), STS-94 (Columbia)",NaN,NaN

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [57]:
# Your code here: I couldnt retrieve the columns because I dont know where the names are. 

fertility = pd.read_csv("fertility.txt")
fertility

    -0.33  0.69  0  1  1.1  0.1  0.8  0.2  0.88  N
0   -0.33  0.94  1  0    1    0  0.8    1  0.31  O
1   -0.33  0.50  1  0    0    0  1.0   -1  0.50  N
2   -0.33  0.75  0  1    1    0  1.0   -1  0.38  N
3   -0.33  0.67  1  1    0    0  0.8   -1  0.50  O
4   -0.33  0.67  1  0    1    0  0.8    0  0.50  N
5   -0.33  0.67  0  0    0   -1  0.8   -1  0.44  N
6   -0.33  1.00  1  1    1    0  0.6   -1  0.38  N
7    1.00  0.64  0  0    1    0  0.8   -1  0.25  N
8    1.00  0.61  1  0    0    0  1.0   -1  0.25  N
9    1.00  0.67  1  1    0   -1  0.8    0  0.31  N
10   1.00  0.78  1  1    1    0  0.6    0  0.13  N
11   1.00  0.75  1  1    1    0  0.8    1  0.25  N
12   1.00  0.81  1  0    0    0  1.0   -1  0.38  N
13   1.00  0.94  1  1    1    0  0.2   -1  0.25  N
14   1.00  0.81  1  1    0    0  1.0    1  0.50  N
15   1.00  0.64  1  0    1    0  1.0   -1  0.38  N
16   1.00  0.69  1  0    1    0  0.8   -1  0.25  O
17   1.00  0.75  1  1    1    0  1.0    1  0.25  N
18   1.00  0.67  1  0    0    0  0.8    1  0.38  O
19   1.00  0.67  0  0    1    0  0.8   -1  0.25  N
20   1.00  0.75  1  0    0    0  0.6    0  0.25  N
21   1.00  0.67  1  1    0    0  0.8   -1  0.25  N
22   1.00  0.69  1  0    1   -1  1.0   -1  0.44  O
23   1.00  0.56  1  0    1    0  1.0   -1  0.63  N
24   1.00  0.67  1  0    0    0  1.0   -1  0.25  N
25   1.00  0.67  1  0    1    0  0.6   -1  0.38  O
26   1.00  0.78  1  1    0    1  0.6   -1  0.38  O
27   1.00  0.58  0  0    1    0  1.0   -1  0.19  N
28   1.00  0.67  0  0    1    0  0.6    0  0.50  O
29   1.00  0.61  1  0    1    0  1.0   -1  0.63  N
30   1.00  0.56  1  0    0    0  1.0   -1  0.44  N
31   1.00  0.64  0  0    0    0  1.0   -1  0.63  N
32   1.00  0.58  1  1    1    0  0.8    0  0.44  N
33   1.00  0.56  1  1    1    0  1.0   -1  0.63  N
34  -1.00  0.78  1  1    0    1  0.6   -1  0.38  N
35  -1.00  0.78  1  0    1    0  1.0   -1  0.25  N
36  -1.00  0.56  1  0    1    0  1.0   -1  0.63  N
37  -1.00  0.67  0  0    1    0  0.6    0  0.50  O
38  -1.00  0.69  1  0    0    0  1.0   -1  0.31  N
39  -1.00  0.53  1  1    1    0  0.8    1  0.50  N
40  -1.00  0.56  1  1    0    0  0.8    1  0.50  N
41  -1.00  0.58  1  0    1   -1  0.8    1  0.50  N
42  -1.00  0.56  1  0    0    0  1.0   -1  0.44  N
43  -1.00  0.53  1  1    0    1  1.0    0  0.31  N
44  -1.00  0.53  1  0    0    1  1.0    0  0.44  N
45  -0.33  0.56  1  0    0    0  1.0   -1  0.63  N
46  -0.33  0.72  1  1    0    0  0.6    1  0.19  N
47  -0.33  0.64  1  1    1    0  0.8   -1  0.31  N
48  -0.33  0.75  1  1    1    0  0.6   -1  0.19  N
49  -0.33  0.67  1  0    1    0  0.8   -1  0.19  N
50  -0.33  0.53  1  1    0    1  1.0   -1  0.75  N
51  -0.33  0.53  1  1    0    0  0.8    0  0.50  N
52  -0.33  0.58  1  1    1   -1  0.8    0  0.19  N
53  -0.33  0.61  1  0    1    0  1.0   -1  0.63  N
54  -0.33  0.58  1  0    1    0  0.8    1  0.19  N
55  -0.33  0.53  1  1    0    0  0.8    0  0.75  N
56  -0.33  0.69  1  1    1   -1  1.0   -1  0.75  N
57  -0.33  0.56  1  1    0    0  0.4    1  0.63  N
58   1.00  0.58  0  0    0    1  0.8    1  0.44  N
59   1.00  0.56  0  0    0    1  0.8    0  1.00  N
60  -1.00  0.64  1  0    0    1  1.0    1  0.25  N
61  -1.00  0.61  1  1    1    0  0.6   -1  0.38  N
62  -1.00  0.56  1  0    0    1  1.0   -1  0.50  N
63  -1.00  0.53  1  0    0    1  0.8   -1  0.31  N
64  -0.33  0.56  0  0    1    0  1.0   -1  0.56  N
65  -0.33  0.50  1  1    0   -1  0.8    0  0.88  N
66  -0.33  0.50  1  0    0    1  1.0   -1  0.47  N
67  -0.33  0.50  1  0    0    1  0.8    0  0.31  N
68  -0.33  0.50  1  0    1   -1  0.8   -1  0.50  N
69  -0.33  0.50  1  1    0   -1  0.8    0  0.88  O
70   0.33  0.69  1  0    0    1  1.0   -1  0.31  N
71   1.00  0.56  1  0    0    1  0.6    0  0.50  N
72  -1.00  0.50  1  0    0    1  0.8   -1  0.44  N
73  -1.00  0.53  1  0    0    1  0.8   -1  0.63  N
74  -1.00  0.78  1  0    1    1  1.0    1  0.25  N
75  -1.00  0.75  1  0    1    1  0.6    0  0.56  N
76  -1.00  0.72  1  1    1    1  0.8   -1  0.19  N
77  -1.00  0.53  1  1    0    1  0.8   -1  0.38  N
78  -1.00  1.00  1  0    1    1  0.6    0  0.25  N
79  -0.33  0.92  1  1    0    1  1.0   -1  0.63  N
80  -1.00  0.81  1  1    1    1  0.8    0  0.19  N
81  -0.33  0.92  1  0    0    1  0.6   -1  0.19  N
82  -0.33  0.86  1  1    1    1  1.0   -1  0.25  N
83  -0.33  0.78  1  0    0    1  1.0    1  0.06  O
84  -0.33  0.89  1  1    0    0  0.6    1  0.31  N
85  -0.33  0.75  1  1    1    0  0.6    1  0.25  N
86  -0.33  0.75  1  1    1    1  0.8    1  0.25  N
87  -0.33  0.83  1  1    1    0  1.0   -1  0.31  N
88  -0.33  0.81  1  1    1    0  1.0    1  0.38  N
89  -0.33  0.81  1  1    1    1  0.8   -1  0.38  N
90   0.33  0.78  1  0    0    0  1.0    1  0.06  N
91   0.33  0.75  1  1    0    0  0.8   -1  0.38  N
92   0.33  0.75  1  0    1    0  0.8   -1  0.44  O
93   1.00  0.58  1  0    0    0  0.6    1  0.50  N
94  -1.00  0.67  1  0    0    0  1.0   -1  0.50  N
95  -1.00  0.61  1  0    0    0  0.8    0  0.50  N
96  -1.00  0.67  1  1    1    0  1.0   -1  0.31  N
97  -1.00  0.64  1  0    1    0  1.0    0  0.19  N
98  -1.00  0.69  0  1    1    0  0.6   -1  0.19  N